[2015-08-05 13:47] guygriffiths opened #8 "Test issue"

[2015-08-05 13:52] #8 closed

[2015-08-14 13:55] guygriffiths opened #9 "Named colour support"
Various parts of EDAL recognise 6 or 8 byte colour codes, but not named colours.  Named colours from http://www.w3schools.com/html/html_colornames.asp would be a nice addition

[2015-08-14 13:56] guygriffiths opened #10 "Colour maps on contour plots"
Currently all contours on contour plots are the same colour.  Value-dependent colours would be better

[2015-08-14 13:59] guygriffiths opened #11 "Developer cookbook"
Having a guide to some of the things which can be done with EDAL would be helpful.  This could include:
Using the libraries to read data
Simple visualisation
Using the catalogue in an application
Implementing a custom WMS
Implementing a custom WMS client

Examples which can be included:
https://github.com/guygriffiths/melodies-sample
https://github.com/guygriffiths/cci-visualisations
https://githu

[2015-08-14 14:00] guygriffiths opened #12 "Smoothed contours"
Currently all contours pick up the grid cells of the data.  Having smooth contours would be good.  This may require using a different library or interpolating the data, but it's not a straightforward issue.

[2015-08-14 14:03] guygriffiths opened #13 "More glyph-based styles"
Whilst we have some examples of glyph-based styles for gridded data, it would be desirable to incorporate them as available styles.

[2015-08-14 14:04] guygriffiths opened #14 "Support GeoTiffs"
It would be nice if we could support GeoTiffs - i.e. TIFF images which have metadata to georeference them.  Not sure where it would be best for this functionality to live.  Probably edal-graphics

[2015-08-14 14:04] guygriffiths opened #15 "Separate projection selection from base layer selection"
Currently the projection of the data is changed by selecting a base layer with a different projection. It would be desirable to be able to select the projection separately. This means that we would need to have a background map server which supported (ideally) all of the commonly-used projections.

For projection-changing code, see this original ncWMS ticket:  http://www.resc.rdg.ac.uk/trac/ncWMS/

[2015-08-14 14:05] guygriffiths opened #16 "Would like to specify output units"
It is desirable to be able to specify the output units of a plot such that the original units are converted if possible. This also applies to GetLegendGraphic calls.

[2015-08-14 14:06] guygriffiths commented on #16
There is some supported for this in edal-godiva through the Godiva.setUnitConverter() method, but it is not currently used (it was developed for MyOcean)

[2015-08-14 14:07] guygriffiths opened #17 "Look into INSPIRE compatibility"
INSPIRE places some rules additional to standard WMS (e.g. the use of a LANGUAGE parameter I think). We need to look into what these rules are and their implications.

This was done (at least partially) for MyOcean, but hasn't been incorporated back into edal-wms

[2015-08-14 14:08] guygriffiths opened #18 "Support all of NetCDF-U options"
Mean/variance is supported for NetCDF-U, but we should support different kinds of statistics and also a variety of probability distribution functions.  This is quite low priority, since NetCDF-U is not widely used.  However, supporting it fully would help promote it.

[2015-08-14 14:12] guygriffiths opened #19 "Refine and document Godiva3 config"
Some options such as map size etc. can be passed to Godiva3 by running a config servlet.  We should make background layers configurable too, and document how to enable the servlet.  This was developed for MyOcean but hasn't been used outside of that project, when it could easily be incorporated.

[2015-08-14 14:15] guygriffiths opened #20 "Separate Godiva3 guide"
Currently the Godiva3 guide is included in the ncWMS user guide.  It should ideally be separated out, enhanced with images, and linked to from the Godiva3.html page

[2015-08-17 09:52] letmaik opened #21 "SLD styling specification should be in web format"
The file ncWMS-sld_specification.odt should be transformed to be included in the EDAL docs webpage.

[2015-08-17 09:55] neothemachine commented on #14
GeoTIFFs are yet another data format like netcdf, and I guess if new formats are added then these should live in separate packages or in some module which is dedicated to supporting all formats.

[2015-08-17 10:10] letmaik opened #22 "Remove "plotting" from edal-common"
The `Dataset` interface has methods like `extractMapFeatures(Set<String> varIds, PlottingDomainParams params)` which talk about plotting. I think this is too specific and can be made more generic at this place. Someone may want to extract/filter features not for plotting but for data analysis.

I saw in some implementations (don't remember which class) that these methods apply things like filterin

[2015-08-17 10:29] letmaik opened #23 "Parameter vs Variable IDs"
The edal.feature.Feature interface refers to parameter IDs. However a Parameter only has a getVariableId method and currently there is no such thing as a parameter ID left (anymore).

I would remove `getParameterIds` from Feature, since this information is easy to get from `getParameterMap`. Then you would be left with `getParameter(String variableId)` and a different description for `getParameter

[2015-08-17 10:44] letmaik opened #24 "Does CurvilinearCoords support crossing the dateline?"
In edal.util.CurvilinearCoords I couldn't find info on how the situation is handled (if it is) if a grid cell spans the 180deg discontinuity. It seems all coordinates are wrapped to [-180,180] so I expect some trouble. If it is not supported then it should be mentioned in the javadoc.

[2015-08-17 10:59] neothemachine opened #25 "Usage of Array2D and Array4D unclear"
In GridFeature there's the method `Array4D<Number> getValues(String paramId)`, however as Array4D is supposed to be a generic 4D array (even though it has some convenience methods like `getTSize` which suggest otherwise) there has to be javadoc which says which array dimension corresponds to which domain axis. Alternatively, the Array* classes can be made specific and explicitly state that e.g. Ar

[2015-08-24 06:15] jonblower commented on #22
I tend to agree - I have never been particularly keen on `PlottingDomainParams` although I understand the logic behind them. Maybe we could discuss.

[2015-09-04 04:13] julian1 opened #26 "v1 migration issue - Time axis appears unordered when aggregating across multiple ncdf files"
Hi. We have been experimenting with the new version of ncwms and testing it against our current configuration and data. We noticed the following issue, which affects the many of our datasets.

With a dataset config path,

[code]

We get the following exception,

[code]

Putting a trace in AbstractIrregularAxis.checkAscending() shows the time data is not ordered,
[code]

In fact, the order appears

[2015-09-04 06:37] jonescc opened #27 "Missing layer names in GetCapabilities statements"
Layers that can be referenced in GetMap requests are not named in the GetCapabilities statement.  In fact no layers are named.

    <Layer queryable="1">
        <Title>sea_water_temperature</Title>
        <EX_GeographicBoundingBox>
            <westBoundLongitude>103.75</westBoundLongitude>
            <eastBoundLongitude>103.75</eastBoundLongitude>
            <southBoundLatitude>-50.25</southB

[2015-09-08 14:13] guygriffiths commented on #27
Thanks for reporting this.  I've fixed it in the "develop" branch and we'll create a bugfix release in the near future.

[2015-09-14 14:01] guygriffiths commented on #26
Fixed in develop branch.
EDAL was ordering the files by the values of their time axes, but was reading the time values as longs.  When these were all on the same day, no reordering was applied.  Fixed by reading time values as floats

[2015-09-14 14:02] #27 closed

[2015-09-14 14:20] jonblower commented on #26
I don't quite understand this - aren't the longs accurate to millisecond precision?

[2015-09-14 14:25] guygriffiths commented on #26
We read the time values directly from the NetCDF file, so the precision is whatever the units of the time axis are.  In Julian's example, the units were "days since...", the values were stored as floats, and all of the files were on the same day.

[2015-09-14 14:33] jonblower commented on #26
Oh I see. Can we just automatically convert the axis to java Date objects (I think this is what is done by a CDM API method)?

Really I think it's bad practice to use non-integer values for the time values - instead, data providers should probably use a smaller time unit, like seconds. But perhaps it was unavoidable in this case.

[2015-09-14 14:59] guygriffiths commented on #26
I've not found an automatic method to convert the values to Date objects (or similar), but it's not really necessary - this only applies to sorting out which order files should appear in in the NcML aggregation.  Since we're using "joinExisting" they all need to have the same units anyway (as far as I can tell).

[2015-09-17 19:56] vansant opened #29 "ncWMS2 GetCapabilities Issue After Adding Dataset"
Running into a WMS GetCapabilities issue after adding a dataset in ncWMS2. ncWMS2 is running on Apache Tomcat using the .war at this link https://github.com/Reading-eScience-Centre/edal-java/releases/download/edal-1.0.2/ncWMS2.war

The GetCapabilities links for 1.1.1 and 1.3.0 both work until a dataset gets added via the ncWMS admin. After the configuration is saved the dataset loads into GODIVA3

[2015-09-17 20:40] vansant commented on #29
Also, this issue is not present when using the standalone version of ncWMS2.

-VanSant

[2015-09-18 11:51] guygriffiths commented on #29
Can you provide us with the dataset you are using?  I've tried to replicate this with all of our test datasets but have been unable to get the same result.

I can however replicate the error by throwing a runtime exception when trying to get the GeographicBoundingBox of the HorizontalDomain.  I suspect that this is what's happening, but I need some data which does this in a non-artificial way to f

[2015-09-18 16:38] vansant commented on #29
Thank you for your quick response/info. Yes, two links/options for acquiring the dataset are provided below.

Here is a direct link to download the dataset which is 2.3 GB:
http://thredds.northwestknowledge.net:8080/thredds/fileServer/NWCSC_INTEGRATED_SCENARIOS_ALL_CLIMATE/macav2livneh/bcc-csm1-1-m/macav2livneh_pr_bcc-csm1-1-m_r1i1p1_historical_1950_1969_CONUS_daily.nc

Here is a link to a NetCDF

[2015-09-22 10:09] guygriffiths commented on #29
Great, thanks.  I've tracked down the issue and it's fixed in the develop branch.  It was occurring when the bounding box of the data had longitudes specified in the range [0:360].  We'll do a bug-fix release soon to include this.

[2015-09-22 18:40] vansant commented on #29
Excellent news!

Thanks again,

-VanSant

[2015-10-09 17:22] lesserwhirls opened #30 "Error parsing style on first wms request"
Greetings @guygriffiths!

I'm working to [integrate wms into the TDS](/lesserwhirls/thredds/tree/ncwms2) again (TDS 5.0, edal-java modules v1.0.2), and I think I have everything hooked up properly. However, when making my first request to the wms server (a basic GetCapabilities request), I get a NPE from the following method when trying to parse the arrow style xml doc:

uk.ac.rdg.resc.edal.graphi

[2015-10-12 09:02] guygriffiths commented on #30
Could you post a full stack trace?  I'm unable to replicate this - IOUtils.toString() is certainly capable of handling NoAutoCloseZipInputStream since that's the normal mechanism for reading styles in ncWMS.

[2015-10-12 14:29] lesserwhirls commented on #30
Thanks for taking a look! Here is the full stack trace:

[code]

[2015-10-12 14:58] guygriffiths commented on #30
Thanks.  I can't see anything which is likely to cause this.  Is it easy for you to provide me with the code + config you're running in the TDS setup?  Hopefully I can then replicate it and fix whatever's causing it.

[2015-10-12 16:07] lesserwhirls commented on #30
The code can be found on my personal github thredds fork under the ncwms2 branch  [here](/lesserwhirls/thredds/tree/ncwms2). I just updated my branch to squash all of my temp commits into one to make the changes I've made easier to see.

I first start the tds using the

[code]

During startup, the TDS will populate the empty directory will the default configuration files. I made two simple edits t

[2015-10-13 09:42] guygriffiths commented on #30
I've checked out the project, but I can't build it.  When I invoke gradle I get the following:

FAILURE: Build failed with an exception.

* Where:
Build file '/mnt/honeycomb/Code/thredds/build.gradle' line: 28

* What went wrong:
A problem occurred evaluating root project 'thredds'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log outpu

[2015-10-13 14:58] lesserwhirls commented on #30
Hi @guygriffiths - I hear you on the Eclipse pain. About a year ago I tried it for several months in protest of our intellij license price increasing, but alas, I gave up because I just could not get eclipse to work consistently with gradle.

For the THREDDS project, we actually use the gradle wrapper to build - this ensure you have the correct version of gradle, etc. To build with the wrapper, go

[2015-10-13 15:09] guygriffiths commented on #30
Thanks - I remember this now from when I build it previously.  However, I'm now getting a build error:

[code]

[2015-10-13 16:19] lesserwhirls commented on #30
Hmmm. @JohnLCaron @dopplershift @cwardgar - any ideas? The coverity security lib is included in the opendap modules build.gradle file.

[2015-10-13 17:42] JohnLCaron commented on #30
is he compiling with gradle? somehow that dependency isnt there

[2015-10-13 18:53] lesserwhirls commented on #30
Yes, he is using our gradle wrapper.

On Tuesday, October 13, 2015, John Caron <notifications@github.com> wrote:

[2015-10-13 19:21] cwardgar commented on #30
I tried to reproduce this but couldn't. First, I deleted all dependencies that Gradle had cached:
[code]
Then:
[code]
and got:
[code]
So I dunno what the deal is. Gradle builds, when using the wrapper, are *supposed* to be reproducible everywhere.

[2015-10-14 09:13] guygriffiths commented on #30
Sorry, my own stupidity was at play here - I was not on the correct branch.  I'll build it now and try and debug this issue.

[2015-10-14 11:09] guygriffiths commented on #30
So, although it's not coming out nicely in the stack trace, the problem you're seeing is due to the implementation of XPath which you're using.
The issue is summarised here:
http://stackoverflow.com/questions/798333/classpath-issue-using-xpathfactory
and I think you can get around it by using a newer version of Saxon-HE.

I'll look at making this error a bit more explicit.

[2015-10-15 23:33] vansant commented on #29
Hello,

Any news on when the bug-fix release is planned for this?

Best,

VanSant

[2015-10-20 08:24] cehbrecht opened #31 "dynamic service not working with latest ncWMS2.war"
Hi *,

i'm using ncWMS2.war in tomcat7 and want to use the "dynamic service" configuration. But when i've configured the dynamic service (like in the example) my getcapabilities request always fails rendering the xml document:

    XML Parsing Error: no element found
    Location: http://localhost:8080/ncWMS2/wms?SERVICE=WMS&REQUEST=GetCapabilities&  VERSION=1.3.0&DATASET=local/mymodel/may_2014.nc

[2015-10-20 12:15] guygriffiths commented on #31
Looks like a bug - I'm currently at a meeting abroad, but I'll be back Friday morning.  I would expect that I'll be able to fix it and create a bugfix release by the end of Friday.

[2015-10-20 13:00] guygriffiths commented on #29
I'm planning on doing a bugfix release Friday afernoon

[2015-10-22 08:19] guygriffiths commented on #29
I got around to this earlier than expected - it's fixed in [the latest release](https://github.com/Reading-eScience-Centre/edal-java/releases/tag/edal-1.0.3)

[2015-10-22 08:19] #29 closed

[2015-10-22 08:20] guygriffiths commented on #31
Got round to this a little quicker than expected.  I replicated the bug and fixed it in [the latest release](https://github.com/Reading-eScience-Centre/edal-java/releases/tag/edal-1.0.3)

[2015-10-22 08:20] #31 closed

[2015-10-22 11:08] cehbrecht commented on #31
Thanks, it works :)

[2015-10-22 11:10] cehbrecht opened #32 "using Godiva3 with Dynamic Services"
i've configured "dynamic services". How can i display them in godiva3?

Cheers,
Carsten

[2015-10-22 12:21] guygriffiths commented on #32
This is not currently possible.  It was planned but was low priority since dynamic datasets were not widely used.  It shouldn't take too long to implement it - certainly we could have something by the end of next week, but I may get a chance to complete it sooner.

[2015-10-22 14:30] guygriffiths opened #33 "Tiling of vector layers"
Tiling for vector layers doesn't always work properly - the arrows get clipped

See 01-xyzt east example

[2015-10-23 11:31] guygriffiths commented on #9
All colours from https://github.com/codebrainz/color-names/blob/master/output/colors.csv are now supported in develop branch.  Will be present in 1.0.4 release

[2015-10-23 11:31] #9 closed

[2015-10-29 11:02] guygriffiths commented on #32
I have implemented this and it is present in the 1.0.4 release.  To access a dataset in Godiva3, you add the DATASET parameter.  eg:
http://localhost:8080/ncWMS2/Godiva3.html?DATASET=local/datapath/ncfile.nc

[2015-10-29 11:02] #32 closed

[2015-11-06 15:34] guygriffiths opened #34 "Limit form of variable / parameter IDs"
Currently there is no limit on the form a variable / parameter ID can take.  This can potentially interfere with WMS URL requests, and so should be limited in some form to avoid bugs.

[2015-11-09 15:57] rsignell-usgs opened #35 "Is the demo site down?"
Is the [behemoth demo site](http://behemoth.nerc-essc.ac.uk/ncWMS2/Godiva3.html) referenced in the [ncWMS documentation](http://reading-escience-centre.github.io/edal-java/ncWMS_user_guide.html) down?

[2015-11-09 16:02] guygriffiths commented on #35
Yes, it was.  I've restarted it and it's up again.  We do have checking scripts but for some reason it didn't get triggered - I'll look into that now.

[2015-11-09 16:10] #35 closed

[2015-11-09 17:09] rsignell-usgs opened #36 "Velocity vectors on demo site?"
I was looking to see if velocity vector rendering had changed on the demo site:
http://behemoth.nerc-essc.ac.uk/ncWMS2/Godiva3.html
but I couldn't find any velocity vector layers, only mangitude, speed and u and v components.
Did I miss one somewhere?
If not, could an example be added to the demo client?

[2015-11-13 15:54] guygriffiths commented on #36
Velocity vectors can be rendered by clicking on the parent layer which contains the individual components.

[2015-11-13 16:45] rsignell-usgs commented on #36
Thanks!  I would not have guessed that, since it looked like just a directory name with the "+" sign next to it.   I tried to select it but the site was not responding.  Maybe down again?

[2015-11-16 10:34] guygriffiths commented on #36
We have been having trouble with that server - I've restarted it so it's running for the time being...

If you've any suggestions on how to make it clearer that the parent layer is plottable (which is not necessarily always the case) I'd be happy to implement something.  I've considered underlining the items which can be plotted, but it's a rather ugly solution.  It's an issue we're aware of but i

[2015-11-17 16:03] guygriffiths opened #37 "Incorporate CoverageJSON into ncWMS"
It would be nice to be able to download data via ncWMS.  It is currently possible to download a simple CSV at a point, but (optionally) exposing the data in a format such as CoverageJSON would be a nice addition.

[2015-11-17 17:30] neothemachine commented on #37
I guess a good way to make this happen would be to separate the edal-to-covjson part out of [edal-json](https://github.com/neothemachine/edal-json) into an own library so that you can simply give it a feature and it returns a CoverageJSON coverage document. Would that work? When edal/ncWMS does resampling and subsetting (to the map extent/resolution), does that actually result in a new Feature obj

[2015-11-18 09:44] guygriffiths commented on #37
That sounds like a good approach.  When we extract the data to show a map we do create a full Feature object.  As well as making the implementation easier, it would also be really useful for exporting CoverageJSON for datasets which are in a CRS which CoverageJSON doesn't handle (e.g. Gerardo's land cover data had to be regridded before we could plot it on the remapping tool - this would allow us

[2015-11-18 09:59] neothemachine commented on #37
Great! (the creation of a full new Feature)

And yes, basically it would be an API that returns coverages with support for subsetting and resampling/reprojection, since WMS supports that for maps. Note that CoverageJSON will support any CRS, it is more a question of what the client can handle, so regridding to lon/lat is a useful operation.

[2015-11-18 10:05] neothemachine opened #38 "Extract WMS map subsetting into a generic EDAL subsetting module"
As discussed in https://github.com/Reading-eScience-Centre/edal-java/issues/37 the WMS code of EDAL will generate new Feature instances of the map extent with the right CRS and resolution. Since these are useful operations outside of WMS map generation, it would make sense to generalize that to an EDAL subsetting/resampling module. This could then be used in projects like edal-json where you serve

[2015-11-18 10:08] guygriffiths commented on #38
There are a bunch of methods for extracting features from Datasets already in edal-common, as well as extracting MapFeatures from GridFeatures (i.e. regridding to a 2D layer at a specific time/depth).  I'm not sure it needs a separate module.

[2015-11-18 10:11] neothemachine commented on #38
Last time I looked at it I couldn't use it because it was too focused on map generation, with things like added buffers/margins around the extracted subsets. If those things go away and are instead put into the WMS part only, then it would be fine.

[2015-11-18 10:23] guygriffiths commented on #38
OK, the buffers only apply to Datasets with a continuous domain and it will be pretty straightforward to move that to the WMS-only code.  I should get around to that some point today.

[2015-11-18 12:02] guygriffiths commented on #38
I've just moved the code that did this from AbstractContinuousDomainDataset to ColouredGlyphLayer.  i.e. it no longer happens at the dataset level, but only on the image layer which needs it.

[2015-11-18 12:50] neothemachine commented on #38
Ok looks good. One last thing, the name "PlottingDomainParams" doesn't
make too much sense in this generic context. What it is is basically a
subsetting/resampling specification. It's not specifically related to
plotting. Maybe that could be renamed to something else. Any suggestions?

On 18/11/2015 12:02, Guy Griffiths wrote:

[2015-11-18 15:12] guygriffiths commented on #38
(Subset|Extraction|Resample)(Domain)?Param(s|eters)

[2015-11-18 15:22] neothemachine commented on #38
Hm, if I understand it right, then the .extract*() methods only filter out features from a dataset. The methods don't actually resample anything, which then confuses me slightly since the PlottingDomainParams currently includes a width/height which clearly is meant for resampling.

Which method would you use for getting a resampled grid feature that you then draw on a map?

[2015-11-18 15:26] guygriffiths commented on #38
extractMapFeatures()

For datasets with a continuous horizontal domain (e.g.the EN3/4 datasets) this filters out all of the features (e.g. PointSeriesFeature or ProfileFeatures) and then extracts PointFeatures from them at the correct depth/time.

For gridded datasets it resamples onto the provided grid.

[2015-11-18 15:43] neothemachine commented on #38
Ok, so there is limited support for subsetting purely focused on map generation, right? I currently cannot give EDAL a grid feature and ask it to subset and resample to a certain bounding box. I can maybe do it indirectly somehow, but the operations are defined on a dataset and on variables. Or similarly subset a Profile to some vertical range, or a time series to a time range, and not just a sing

[2015-11-18 15:50] guygriffiths commented on #38
Kind of.  GridFeature has its own extractMapFeature() method to extract a 2D horizontal feature onto a given grid (it takes a Set of variable IDs, a target grid, an elevation value, and a time value), but none of the other feature types have a similar method.  I can't remember why I implemented it for GridFeature - it's not currently used anywhere.

[2015-11-18 15:57] neothemachine commented on #38
Ok, let's postpone that then, seems to be a bigger effort. In edal-json
I wrote my own hacky code to do the subsetting and filtering (no
resampling) on some feature types. But it would be nice if this is
somehow directly supported in edal or via some external library,
like.... edal-transform or whatever.

On 18/11/2015 15:50, Guy Griffiths wrote:

[2015-11-18 16:00] neothemachine commented on #37
Should this new covjson-export library be implemented as a module in the edal-java repository?

[2015-11-18 16:09] guygriffiths commented on #37
I think so, yes.  It would be used in the edal-wms module so I think it belongs in the edal-java repository.

It could potentially include other formats (subsetting to NetCDF would be a useful piece of functionality to have).

On a related topic we may at some point factor out ncWMS into a separate repository, but the vast majority of the functionality of ncWMS is implemented in the edal-wms and e

[2015-11-18 16:15] neothemachine commented on #37
I would put a NetCDF export in a separate module, since then people who want to use edal modules individually can more easily skip stuff they don't need.

Let's call it edal-coveragejson. Could you give me a headstart and create the structures of this new module includes the interfaces that you would use from within the wms code? Then I can get in and fill out the details.

[2015-11-18 16:18] guygriffiths commented on #37
Sure, I'll probably get on with that tomorrow

[2015-11-23 15:21] guygriffiths commented on #37
The coverage-json branch now contains a skeleton project ready for this.

[2015-11-25 13:03] PBrockmann opened #40 "Adding more colormaps"
Many colormaps have already been made available from ncWMS especially ones from matplotlib and is a very nice thing.
I would like to add some more. Especially some Perceptually Uniform Sequential colormaps
(viridis, magma, inferno, and plasma) that matplolib has delivered from their last release.

See http://matplotlib.org/examples/color/colormaps_reference.html
and https://youtu.be/xAoljeRJ3lU -

[2015-11-25 15:16] guygriffiths commented on #40
That would be great - if you create some palette files I'd be happy to incorporate them.

Currently the accepted formats for colours are:
#RRGGBB
#AARRGGBB
0xRRGGBB
0xAARRGGBB
any of the names listed in https://raw.githubusercontent.com/Reading-eScience-Centre/edal-java/develop/graphics/src/main/resources/colors.csv

A palette consists of a string of these colours separated by either a comma, a co

[2015-11-25 19:25] PBrockmann commented on #40
No problem. I can send them to you or perhaps better idea the 5 lines of python that produce them.
How many colors are needed ? The maximum ie 250 ?
Do you need reversed palette as well ?

[2015-11-25 19:47] PBrockmann commented on #40
Here is a script set to produce palette files with 50 colors.
matplotlib 1.5.0 is needed to get described colormaps.
You get 142 palette files. A little too much.
Interesting ones are the Perceptually Uniform Sequential
so starting by mpl_PSU

[code]

[2015-11-26 09:42] guygriffiths commented on #40
Thanks, I will try and have a look at those in the near future.  142 is definitely too many palettes (it would require a rethink of the UI for a start...), are there any you're particularly keen on?

The ideal number of colours is the minimum number which define the palette - i.e. for divergent palettes it is probably 3 colours, whereas for some of the perceptually linear ones 250 might be better.

[2015-11-26 10:08] PBrockmann commented on #40
Interesting ones are the Perceptually Uniform Sequential ones so starting by mpl_PSU in my code.
So 'viridis', 'inferno', 'plasma', 'magma'.

I have lightly modify the code above to remove reverse writing since it is done on the fly by ncWMS.
I left also 50 colors because if you set 250 you get sometime colors with similar HTML codes.
[code]

[2015-11-26 11:55] neothemachine commented on #37
Ok looks good, I will probably start work on that in a week or two.

[2015-11-26 12:09] guygriffiths commented on #40
OK, for the time being I'll just add those 4 palettes.  Could you either send them to me or do a fork/pull request to the develop branch?  I don't have access to a new enough version of matplotlib at the moment.

[2015-11-26 13:47] PBrockmann commented on #40
Ok, I made a PR.

[2015-11-26 13:47] #40 closed

[2016-01-12 14:37] neothemachine commented on #37
I implemented the edal-coveragejson module in the coveragejson branch. What's missing is the wiring to the WMS code.

[2016-01-15 09:10] neothemachine commented on #37
Done and tested! I guess we'll leave this issue open until we've decided what to do with the coveragejson branch. If we merge it, then possibly we need additional features like being able to disable this format.

[2016-01-18 13:27] neothemachine opened #42 "Indicate when a parameter is a parameter group"
Currently, a group parameter cannot be distinguished as such just by looking at the Parameter object. Starting from a DiscreteFeature, I have to test this via `getValues(paramId)` and check whether the result is null, in which case I assume it's a group. Still, then I have no information on which parameters this group contains. It would be good if all this information is available more directly.

[2016-01-18 13:33] guygriffiths commented on #42
The Parameter object is really just a description of the physical parameter being measured.  For grouping relationships, the information is contained in the VariableMetadata class.  Currently there's no methods which specify whether a particular VariableMetadata object is part of a group, but there are methods to determine whether it has a parent, any children, and whether or not it contains scala

[2016-01-18 14:08] neothemachine commented on #42
The only problem is that VariableMetadata cannot be accessed from a Feature. I think I agree though that it doesn't belong to Parameter itself, since an EDAL Parameter corresponds to the "observedProperty" in CoverageJSON, and an EDAL Variable(Metadata) corresponds to a CoverageJSON "Parameter". I guess the question then is, why doesn't the EDAL Feature know about it's VariableMetadata?

[2016-01-18 14:12] neothemachine commented on #42
This would also explain why the category encoding info (mapping to integers) is within a Parameter where it doesn't really belong, it rather belongs to VariableMetadata.

[2016-01-29 11:00] jonblower commented on #42
Do we have a resolution for this? Can EDAL and CoverageJSON be aligned in this respect or will that cause too much damage to one or the other?

[2016-01-31 09:11] mvtm-dn opened #43 "Bug in cdm/src/test/java/uk/ac/rdg/resc/edal/dataset/cdm/CdmGridDatasetFactoryTest.java"
Test did not passed in case of default TZ differs from UTC.

Fix:
[code]

[2016-02-04 15:11] guygriffiths commented on #42
It's a tricky one.  The simplest solution would be to make the VariableMetadata available to Feature objects and then simply delegate the getParameter method to the same method on VariableMetadata (or just remove it and access it indirectly).
The problem comes because the VariableMetadata hierarchy is fully enclosed within a Dataset, but not necessarily within a Feature.  For example, if we have a

[2016-02-05 10:32] guygriffiths commented on #43
Thanks.  Fixed in develop branch

[2016-02-05 10:32] #43 closed

[2016-02-17 08:52] chcuong commented on #26
Hi. Everything is ok when we used NCWMS 1.1. Nonetheless, we have been experimenting with the new version of ncwms and testing it against our current configuration and data and I see the following error:

Error report

Stack trace:
java.lang.IllegalArgumentException :Coordinate values must increase or decrease monotonically
uk.ac.rdg.resc.edal.grid.AbstractIrregularAxis.checkAscending(AbstractIrre

[2016-02-17 09:36] guygriffiths commented on #26
Have you got any test data you can give us to reproduce this error?

[2016-02-17 10:04] chcuong commented on #26
We have found that this is our data error. Thanks.

[2016-02-17 11:02] #33 closed

[2016-02-17 11:33] #34 closed

[2016-02-17 12:08] guygriffiths commented on #24
All centre co-ordinates are transformed to [-180,180], but the grid cells will extend outside of this range if necessary.  I tested the situation where grid cell centres were defined at longitudes 177, -179.  The grid cell bounds of the two cells were:
[175, 179] and [-181, -177]
Which I think is handling it correctly - can you recall if you had a specific example of how it could fail?

[2016-02-17 12:09] #26 closed

[2016-03-01 02:21] rsignell-usgs opened #44 "UGRID face-centered velocities with ncWMS 2.1?"
I installed ncWMS 2.1 and added a UGRID dataset OPeNDAP URL:
http://www.smast.umassd.edu:8080/thredds/dodsC/FVCOM/NECOFS/Forecasts/NECOFS_GOM3_FORECAST.nc

I get back this error:
[code]
I'm not sure what that means, as this dataset does have the variable `u`, but perhaps that's a red herring?    `u` wouldn't be required anyway, right?    We have a lot of UGRID data with just water level.

[2016-03-01 10:18] guygriffiths commented on #44
The error is appearing when we try to associate u/v components to add a vector field.

The variables "u" and "v" have not been added to the dataset because they are not defined on the same node-based grid as most variables, but rather on a separate face-based grid.  I haven't implemented the optional "face_coordinates" attribute and the associated grids - none of the example UGRID files I found ha

[2016-03-01 12:13] rsignell-usgs commented on #44
Sure, I used the NCO tools to extract the 1st time step as a netcdf file thusly:
[code]
I put the resulting file on our TDS, so can access this file here:
http://geoport.whoi.edu/thredds/catalog/usgs/data2/rsignell/models/fvcom/catalog.html?dataset=usgs/data2/rsignell/models/fvcom/ugrid_face_velocity.nc

So you should be able to use the `HTTPServer` link to download this one step file:
http://geop

[2016-03-01 16:37] guygriffiths commented on #44
Thanks - I tried ncks but that's what was giving me the "DAP server error".

I've got a proof-of-concept version working which supports this dataset - I'll tidy it up tomorrow.

Note that several of the variables will not be available since:
* Only spatial variables are supported
* The vertical dimension is dependent on the horizontal dimension - i.e. all variables with a vertical dependence are f

[2016-03-01 16:52] rsignell-usgs commented on #44
@guygriffiths ,  regarding download via ncks, probably your NCO install has issues.  If you are on linux or mac, you could install an up-to-date and working version of NCO by downloading miniconda (free) and then doing "conda install -c ioos nco". I bet it would work (since that's what I used).

Regarding this FVCOM data, it's a layer model just like most others (except for ICOM, I guess).  All ve

[2016-03-02 10:10] guygriffiths commented on #44
Does this mean that there is no horizontal variation in the vertical co-ordinate?  It is specified as a 2D variable, so I would have assumed that there is horizontal variation (i.e. it is not a simple layering).  We currently have no provision in our data model for 2D vertical / time axes so it could be a difficult one to implement...

[2016-03-02 15:16] rsignell-usgs opened #45 "Extreme slowness with this UGRID dataset"
I added the OPeNDAP Data URL from this UGRID dataset
http://comt.sura.org/thredds/dodsC/data/comt_1_archive/inundation_tropical/UND_ADCIRC/Hurricane_Ike_3D_final_run_with_waves.html
and it took a *very* long time -- I snapped this picture after 6 hours:
![ncwms2_c](https://cloud.githubusercontent.com/assets/1872600/13461812/cdce6b0c-e051-11e5-8264-2c70b9a762ae.png)

It eventually succeeded however

[2016-03-02 16:38] guygriffiths commented on #45
There's a couple of issues here, but the sticking point at the moment is related to the credentials - specifically I'm getting 403 Forbidden returned on all OPeNDAP requests.

OPeNDAP credential handling needed some reworking from ncWMS v1.x and was very low priority, so it's currently not implemented.  That's what's causing the issue here.  Are you either able to provide me with some login detail

[2016-03-02 17:27] rsignell-usgs commented on #45
That is strange -- the TDS serving the data is completely open.
Do you get a 403 on this?
http://comt.sura.org/thredds/dodsC/data/comt_1_archive/inundation_tropical/UND_ADCIRC/Hurricane_Ike_3D_final_run_with_waves.ascii?sigma[0:1:10]

[2016-03-02 18:31] rsignell-usgs commented on #44
@guygriffiths , oh I see.  Yes, there is horizontal variation in the vertical coordinate.  We never interpolate to standard levels because we don't want to lose information, so all of our coastal ocean models have the CF dimensionless coordinates (e.g. "ocean_sigma_coordinate", "ocean_s_coordinate_g1", "ocean_s_coordinate_g2".

Could a workaround be to just allow selection of the vertical levels v

[2016-03-03 09:21] guygriffiths commented on #44
I'll have a think about it.  It may be straightforward to create a vertical axis which has units of "level" out of the 2D axis.  That would have the effect you suggest.

[2016-03-03 09:36] guygriffiths commented on #45
I've had a further look, and the problem is that the requests I'm making are too large.  I think that this will be a general issue and that some adjustment is going to be needed for reading over the network - we haven't done a great deal of testing with large OPeNDAP datasets.

[2016-03-03 10:25] guygriffiths commented on #44
OK, I've implemented face-based grids and a level-based vertical coordinate in the develop branch.  This dataset is now working properly for local datasets.  I can't yet get it to work over OPeNDAP but that's due to a different issue (https://github.com/Reading-eScience-Centre/edal-java/issues/45).  Once I've fixed that I'll retest and close this one.

[2016-03-03 12:35] rsignell-usgs commented on #45
Perhaps that explains why this dataset took so long to load?   Ideally you would just load the node coordinates (and if necessary the face coordinates) along with the mesh_topology array once, and use it for all the other variables.   The only other variable that you need to load is the time coordinate, right?

[2016-03-03 12:45] guygriffiths commented on #45
Actually we load a subsample of all of the variables to automatically determine the scale range to use.  The problem was that I had confused when the reading happened in the Netcdf-Java library, and was inadvertently trying to load the entire variable into memory, which was forbidden by the OPeNDAP server.
The long load times were related to this - each time I tried to read a single pixel, a new r

[2016-03-03 12:51] rsignell-usgs commented on #45
Could we specify attributes that ncWMS2 would read to set the initial scale range, to avoid the need to read data if these certain attrributes exist?   I'm thinking like perhaps setting attributes "colorscalerange" or something for each variable.

[2016-03-03 13:00] guygriffiths commented on #45
It's a possibility, but reading a 100x100 sample of data shouldn't slow things down enough to make that necessary.  I haven't timed it but I'm pretty sure this dataset takes under 2 minutes to load now - possibly <1min.

[2016-03-03 14:39] rsignell-usgs commented on #45
Okay, great!      @gregpike, we shouldn't be hammering that LSU connection anymore once we get this new version installed.

[2016-03-03 15:15] guygriffiths commented on #45
OK, I was actually getting my datasets mixed up.  The OPeNDAP dataset in issue https://github.com/Reading-eScience-Centre/edal-java/issues/44 takes ~30s to load, this one seems to be quite a bit slower, but now loads in <4 minutes.  Retrieving a full image in Godiva 3 (e.g. height) took ~30s (the other takes ~5s).  Not overly fast, but I guess there's more data in this one or the server is a littl

[2016-03-03 15:20] rsignell-usgs commented on #45
I'm out of the office most of the day today, but will try to test tonight.

[2016-03-04 02:31] rsignell-usgs commented on #45
Woo hoo!   As you noted, this now takes about 3 minutes to load, but only about 30 seconds or less to draw.    Looks great!  This is a fantastic development!

![2016-03-03_21-27-17](https://cloud.githubusercontent.com/assets/1872600/13516344/56b1062e-e187-11e5-9aea-6079126401d1.png)

[2016-03-04 02:32] rsignell-usgs commented on #45
@kwilcox, check this out!

[2016-03-04 02:33] #45 closed

[2016-03-04 10:19] #44 closed

[2016-03-04 10:45] guygriffiths commented on #45
Good to hear it's all working.  I've incorporated these changes into a bugfix release: https://github.com/Reading-eScience-Centre/edal-java/releases/tag/edal-1.1.1

[2016-03-04 12:47] rsignell-usgs opened #46 "Could ncWMS2 also handle SGRID data?"
Following on the success of the [UGRID](http://ugrid-conventions.github.io/ugrid-conventions/) conventions, @hrajagers created the [SGRID](http://sgrid.github.io/sgrid/) conventions, with feedback from the community of staggered grid model providers.

Now that NCWMS2 has UGRID support, would ncWMS2 developers be interested in adding SGRID support?

This should be much much easier -- it's basically

[2016-03-04 13:28] rsignell-usgs commented on #44
I can confirm that both the face-based velocity and level-based vertical coordinate are working great!

Here are plots from Godiva3  of bottom temperature field (nodes) and surface velocity speed (face centered) from a UGRID-compliant FVCOM model output:
![2016-03-04_8-19-56](https://cloud.githubusercontent.com/assets/1872600/13528192/71e9a4b8-e1e2-11e5-921a-ea9b3464e2e3.png)
![2016-03-04_8-24-04]

[2016-03-04 13:39] #36 closed

[2016-03-04 17:35] ocefpaf commented on #46
That would be awesome! I don't know anything about Java, but whomever tries to implements this please feel free to bug me with questions about SGRID.

[2016-03-04 19:45] dpsnowden commented on #46
Adding this feature would be great!  +1

This would give us the ability to display POM/ROMS/ECOM/WRF/Delft3D/Native HYcom

It would be useful for the IOOS RAs and for NOS modeling efforts at CO-OPS and Coast Survey Development Lab.

[2016-03-07 14:19] jonblower commented on #46
@guygriffiths could you have a look at this and estimate how big a job it is? Sounds like it would be very useful.

[2016-03-07 16:10] rsignell-usgs commented on #46
@jonblower , glad to see the interest from you!    Most of the models I've come across use Arakawa-C grids (with the exception of the Arakawa-B grid POLCOMS), so if we want to access the native grid data in a standard way, we need these SGRID conventions.     Many folks average their velocity data to grid cell centers for distribution because they know that tools generally choke on the native grid

[2016-03-07 16:39] guygriffiths commented on #46
@jonblower sure, it's on my list of things to do.

@rsignell-usgs, @ocefpaf - Just to make sure I'm getting the right end of the stick, is this right?
* These are conventions to allow data to be stored on different (staggered) grids.
* The different data will still use different dimensions in the NetCDF file
* The efficiency comes from only needing to define one set of co-ordinate variables to def

[2016-03-07 16:54] rsignell-usgs commented on #46
@guygriffiths, yes, here's an example of how these conventions make things more efficient.

Use case: user wants to subset some data in a  bounding box and plot some vectors.
Brute force way:  determine the u points and associated coordinate values in the bounding box, do same for v points, then do a general interpolation of both u and v onto a 3rd set of points, the grid cell centers.
SGRID way:

[2016-03-08 15:07] guygriffiths commented on #46
That makes sense, although I'm reasonably sure that that won't impact on how we calculate vectors in ncWMS - we're always regridding both vector components onto a 3rd grid (i.e. the pixels in the WMS view) and we're using a nearest neighbour method rather than interpolation.

A quick final point: All of the examples in the SGRID conventions document have 2D coordinate variables (e.g. rotated pole

[2016-03-08 15:11] rsignell-usgs commented on #46
Yes.  Although our examples are with 2D lon,lat coordinates, it applies when there are 1D lon,lat coordinate variables as well.

[2016-03-08 15:24] guygriffiths commented on #46
I'll have a look into implementing these.  If you have a link to some example files it would help a lot.

Also, when the padding attribute is not "none", is the size of the padded cell considered to be the same as it's neighbouring cell?  That's what it looks like and I can't think of another sensible way of doing it, but I couldn't see that it was specified in the conventions.

[2016-03-08 16:27] rsignell-usgs commented on #46
@guygriffiths , here's an example SGRID dataset:
http://geoport-dev.whoi.edu/thredds/dodsC/coawst_4/use/fmrc/coawst_4_use_best.ncd.html

[2016-03-10 11:56] guygriffiths commented on #46
I've got a few more questions about the finer details of the SGRID conventions - is it best to have the discussion on here, or is there someone I should email with questions?

[2016-03-10 11:58] ocefpaf commented on #46
@guygriffiths I am OK with the discussion happening here or in https://github.com/sgrid/sgrid/issues. I'd rather not use e-mails so we can use GitHub as reference in the future.

[2016-03-10 12:12] guygriffiths commented on #46
@ocefpaf OK, I'll pose my questions here as and when I come across them, but some of them might be better suited to the SGRID issues site.  Currently I have:
* For a 2D grid, the vertical_dimensions attribute is listed as required, but it is not present in any of the examples.  Does that mean it's only a required attribute when there's a vertical dimension present?  Or is it an error in the exampl

[2016-03-10 12:59] hrajagers commented on #46
- For a 2D grid, the vertical_dimensions attribute is listed as
   required, but it is not present in any of the examples. Does that mean it's
   only a required attribute when there's a vertical dimension present? Or is
   it an error in the examples?

Indeed, it is only required if there is a vertical dimension present. The
draft document at http://bit.ly/sgrid_cf had the vertical_dimension list

[2016-03-10 13:32] rsignell-usgs commented on #46
@guygriffiths , thanks so much for digging into this a bit and locating these errors/inconsistencies.   So far the only code that has used this is pysgrid, and I guess these issues didn't come up there.

Is anyone already working on a PR to sgrid, or shall I attempt?

[2016-03-10 13:38] ocefpaf commented on #46
Please do :grinning:

[2016-03-10 15:06] guygriffiths commented on #46
* For 2D grids the cf_role, topology_dimension, node_dimensions, and face_dimensions are required.

Does this mean that node_coordinates is optional?  If it's not present, do we have to determine the node co-ordinates from the co-ordinate variables for the node_dimensions?  Presumably that would only work in the case where the co-ordinates were 1-dimensional independent axes?

[2016-03-10 15:23] rsignell-usgs commented on #46
I guess the thinking was that each data variable has coordinates and the location identified?

With ROMS results we write the `face_coordinates`, `node_coordinates`, `edge1_coordinates` and `edge2_coordinates`.

[2016-03-10 15:24] rsignell-usgs commented on #46
@hrajagers, what was your thinking on this?

[2016-03-10 18:52] rsignell-usgs opened #47 "ncWMS2 dataset says "updated", but doesn't seem to be updated"
I've got a UGRID ocean forecast model dataset that's working with ncWMS2  (the DAP URL is: http://www.smast.umassd.edu:8080/thredds/dodsC/FVCOM/NECOFS/Forecasts/NECOFS_GOM3_FORECAST.nc)
but though I've got the auto-refresh rate set to 24 hours, and the dataset shows an update time from today (March 10) in the ncWMS Admin page:
![2016-03-10_11-21-45](https://cloud.githubusercontent.com/assets/18726

[2016-03-10 23:50] rsignell-usgs commented on #46
Okay, the inconsistencies have been fixed in this SGRID PR https://github.com/sgrid/sgrid/pull/11.

See http://sgrid.github.io/sgrid/

@guygriffiths , let us know if you find other issues and we'll try to resolve them ASAP.

[2016-03-11 13:07] rsignell-usgs commented on #47
@guygriffiths , I realize I should have provided the ncWMS2 endpoint, here:
http://geoport.whoi.edu/ncWMS2/

[2016-03-11 13:19] rsignell-usgs opened #48 "Problem getting time series data as CSV: "zeta cannot be downloaded as CSV""
I've got a Hurricane Ike simulation as a UGRID dataset that is working nicely with ncWMS2/Godiva3 at
http://geoport.whoi.edu/ncWMS2/Godiva3.html

![2016-03-11_8-12-48](https://cloud.githubusercontent.com/assets/1872600/13703185/0ec19eb0-e762-11e5-9bfa-f85de3c54f27.png)

The time series option works great:

http://geoport.whoi.edu/ncWMS2/wms?REQUEST=GetTimeseries&LAYERS=ADCIRC-IKE-2D-Waves/zeta&QUE

[2016-03-11 14:09] guygriffiths commented on #48
Did you enable downloading in the admin menu? It's disabled by default.

[2016-03-11 15:10] rsignell-usgs commented on #48
@guygriffiths , nope, I didn't see that little checkbox.

Well, that was an easy one!   :smile_cat:

[2016-03-11 15:10] #48 closed

[2016-03-11 15:18] rsignell-usgs opened #49 "Categorical dataset example?"
The categorical dataset functionality discussed here
http://reading-escience-centre.github.io/edal-java/ncWMS_user_guide.html#Categorical
looks very interesting.

I didn't see a categorical dataset example on the WMS demo site http://behemoth.nerc-essc.ac.uk/ncWMS2/Godiva3.html

Did I miss it?

If not, could one be added, or is there another example site with categorical data?

[2016-03-11 15:25] rsignell-usgs opened #50 "What Java version does ncWMS2 require?"
What Java version does ncWMS2 require?
is there a minimum Tomcat version as well?

I did not find this info in http://reading-escience-centre.github.io/edal-java/ncWMS_user_guide.html
I hope that's not just because I didn't read carefully enough.

[2016-03-11 15:48] guygriffiths commented on #49
I think you missed it, unless it had temporarily gone down. It's listed as Melodies Land Cover (Categorical)

[2016-03-11 16:46] rsignell-usgs commented on #49
Oops.  I see it now.  Hmmm.....  I would have thought I would have seen that before.   I'm hoping it was temporarily down for my sake.   :blush:

[2016-03-11 16:46] #49 closed

[2016-03-14 16:34] guygriffiths commented on #50
It needs at least Java 7.  I don't know of a specific minimum Tomcat version, but we use Tomcat 7 for testing.
I'll add it to the user guide tomorrow.

[2016-03-14 16:34] #50 closed

[2016-03-14 16:43] rsignell-usgs commented on #50
Awesome.  Thanks!

[2016-03-15 01:18] cseaton commented on #47
In case a second example is useful, I'm seeing the same problem (also with a UGRID dataset accessed via OpenDAP). In addition to not showing up in Godiva with the correct time range, getMetadata requests for timesteps and getMap requests with the correct time range for the current OpenDAP source return empty set and an error, respectively.

By comparing the Godiva image with an image of the model

[2016-03-15 15:43] rsignell-usgs commented on #47
I just checked again and the problem still exists.  Even though the dataset is reporting being updated every 24 hours, the start/stop times in the getCaps are unchanged:
http://geoport.whoi.edu/ncWMS2/wms?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.1.1&DATASET=FVCOM-NECOFS-GOM3

[2016-03-16 16:22] guygriffiths commented on #47
I think that this was being caused by a caching issue.  I've made some changes in the develop branch which fix the issue for local datasets, but I haven't yet tested with remote datasets (I don't have any where the update time is short and predictable).  If someone can check this and confirm it works then we can close it, otherwise I should be able to test it overnight on a remote dataset sometime

[2016-03-16 16:39] rsignell-usgs commented on #47
@guygriffiths , so I can try out this branch?
https://github.com/Reading-eScience-Centre/edal-java/tree/develop

[2016-03-16 17:32] guygriffiths commented on #47
Yup, that should have the latest changes

[2016-03-16 19:56] rsignell-usgs commented on #47
Did the changes get pushed?  This commit from a day ago looks like 2D lon/lat stuff?
https://github.com/Reading-eScience-Centre/edal-java/commit/d496d83a09f7fbc842799b2cb3b0e08424b729f7

[2016-03-17 09:56] guygriffiths commented on #47
I had thought so but I guess not.  I've just pushed them now.

[2016-03-21 03:04] rsignell-usgs commented on #47
@guygriffiths , okay, I built the war file from the develop branch:
[code]
and it's working, but I guess I won't know until tomorrow if it updated properly.

[2016-03-21 12:43] rsignell-usgs commented on #47
indeed, it seems like the updating is working now.  Awesome!
@cseaton , if you want to try the new war, I put a copy at
https://drive.google.com/open?id=0BzAHlPEEP_ujZEZnaDJ2N3l0Zm8

[2016-03-21 12:47] guygriffiths commented on #47
Good to hear it :-)

[2016-03-21 18:09] rsignell-usgs commented on #47
@guygriffiths , should this be left open until the improvements from the develop branch are incorporated into a new release on master?

[2016-03-21 18:12] rsignell-usgs commented on #46
@guygriffiths , just curious.   Did you hit a roadblock here, did this effort become out of scope for now, or are you still plugging away as time permits?

[2016-03-22 09:52] guygriffiths commented on #46
@rsignell-usgs - I've been fairly busy recently and this has had to go on the backburner.  I have some skeleton code and notes, and I should be free to work on it a bit more in a couple of weeks time.

[2016-03-22 09:55] guygriffiths opened #51 "Document the available colours"
Documentation needs to have list of acceptable colour formats, named colours, and "transparent" + "extend"

[2016-03-22 10:45] rsignell-usgs commented on #46
@guygriffiths , okay, glad to here it!

 It's so great what you've done with the UGRID capability.   I'm at a meeting here in Washington DC where this experimental storm surge forecasting was announced:
http://www.opc.ncep.noaa.gov/estofs/estofs_surge_info.shtml
http://www.opc.ncep.noaa.gov/estofs/estofs_pacific_surge_info.shtml
Both of these are UGRID, so your ncWMS2/Godiva3 improvements are very

[2016-03-23 11:38] rsignell-usgs opened #52 "This UGRID dataset erroring out"
When I drop this UGRID URL into the ncWMS2 admin: http://opendap.renci.org:1935/thredds/dodsC/ASGS/sandy/27/nc6b/blueridge.renci.org/ncfs/nhcConsensus/00_dir.ncml

It loads all the variables, but then throws this error:
[code]

I don't see anything wrong from browsing the dataset -- it must be something simple...
http://opendap.renci.org:1935/thredds/dodsC/ASGS/sandy/27/nc6b/blueridge.renci.org/nc

[2016-03-23 12:01] guygriffiths commented on #52
@rsignell-usgs - Can you give me some more specific information about how you added the dataset?  (e.g. Did you add it as a fresh dataset (i.e. fill in the empty text boxes at the end), or replace an existing one?  Did you change its ID?)

This is not UGRID-specific, but I'm having trouble reproducing it.

[2016-04-05 14:51] rsignell-usgs commented on #47
@guygriffiths ping

[2016-04-05 16:11] rsignell-usgs commented on #52
Hmm, I'm having trouble reproducing it also, so maybe there was some temporary access issue.

[2016-04-05 16:11] #52 closed

[2016-04-05 18:44] rsignell-usgs opened #53 "Problem loading this FMRC dataset"
when I try to load this FRMC DAP Data URL into ncWMS2:
http://geoport-dev.whoi.edu/thredds/dodsC/coawst_4/use/fmrc/coawst_4_use_best.ncd
I get:
[code]
I've tried this with two different versions of the TDS.

Can you confirm that this fails in ncWMS2?

If so, how can I figure out why it's failing?

It works okay with the built-in TDS ncWMS:
http://geoport-dev.whoi.edu/thredds/godiva2/godiva2.html?s

[2016-04-06 10:52] guygriffiths commented on #47
Sorry, didn't spot this.  Yes, it should probably remain open in case other people search for it.

[2016-04-06 11:01] rsignell-usgs commented on #47
@guygriffiths , any reason not to issue a new release with the improvements in the develop branch that fix this issue?

[2016-04-06 11:31] guygriffiths commented on #53
This is related to https://github.com/Reading-eScience-Centre/edal-java/issues/52 somehow.  The error is occurring in the same place, but I'm unable to reproduce it - it works fine in ncWMS2.

I'll make that code a little more robust, but it'd be interesting to be able to track down the root cause of this.

[2016-04-06 12:54] rsignell-usgs commented on #53
@guygriffiths , I just discovered that stopping ncWMS2 and starting it again makes the problem go away.   Does give you any clues or do you have suggestions what to look for when the problem appears again (which seems likely)?
As you say, this is likely the same exact problem I had with #52.

[2016-04-06 15:07] guygriffiths commented on #53
OK, I can reproduce this by setting the Title field to an empty string in the ncWMS2 admin interface.  I think that a reload would fix this whilst it may be interpreted as a null upon submission, once saved in the XML it should be an empty string.

I've changed the code so that in that case, the ID is reused for the title of the dataset.  Even if that's not the cause it will fail more gracefully a

[2016-04-06 15:20] rsignell-usgs commented on #53
When the problem occurs for me, I can't force load any dataset -- they all give that same error.
And they all have titles.   Or am I not understanding the problem you discovered?

[2016-04-06 15:57] guygriffiths commented on #53
When I said "reload" I meant restarting ncWMS2 as per your recommendation, rather than forcing a refresh on the dataset.

null titles or null IDs for the dataset are the only likely suspects for causing that NullPointerException - I don't know how they are getting through as null if you've set them, but I *think* that's the root cause.

[2016-04-11 12:40] rsignell-usgs commented on #47
@guygriffiths , actually, I thought the improvements in the develop branch fixed the issue, but they did not.   Our forecast models are still not getting updated.

[2016-04-11 13:26] rjdave commented on #47
@guygriffiths I too am having issues with my two FMRC datasets getting updated. While only one is actually a forecast model, they both have not updated since they were added to the ncWMS2 server.

http://tds.marine.rutgers.edu/ncWMS2/Godiva3.html

ESPRESSO 4DVAR V2 and Macoora 6km Codar Totals are the datasets that source an FMRC dataset from THREDDS. The ESPRESSO dataset has a later end date beca

[2016-04-14 17:44] rjdave opened #54 "404 on Save configuration"
When I use the admin page to update datasets or server setting and info I get a "404 - The requested resource is not available." when I click the "Save configuration" button. However, the changes appear to be saved when I go back and look at the admin page again. The URL that displays when I get the 404 error is:

http://tds.marine.rutgers.edu:8081/ncWMS2/admin/updateConfig

I am using ncWMS v2.1.

[2016-04-14 17:52] rjdave opened #55 "404 after authentication to <server>/ncWMS2/admin"
This is minor because most people probably click the admin link from the main ncWMS2 page. However if you type:

http:/<server>:<port>/ncWMS2/admin

(note the lack of a trailing slash) into the address bar of your browser the authentication window comes up and you can login successfully but you end up at a "404 - The requested resource is not available." if you then add the trailing slash you end

[2016-04-15 09:43] guygriffiths commented on #55
Thanks for pointing that out.  I've fixed this in the develop branch so it'll be in the next release.

[2016-04-15 09:50] guygriffiths commented on #54
I'm not currently able to reproduce this - can you give me some more information about your configuration (e.g. what browser you're using, how exactly you're doing it, does it happen with both "Save configuration" buttons etc.)

The "Save configuration" button should just submit the config form to .../admin/updateConfig, but it uses HTTP POST so it's strange that your browser is being redirected t

[2016-04-20 17:38] rjdave commented on #54
I tried on several different browser/OS combinations and the only combination that worked was IE/Edge (on windows of course). Other combos I tried were Chrome, Firefox, and Safari on OS X, Forefox and Chrome on Windows, and Firefox on Linux. (The domain, .marine.rutgers.edu, was omitted from the URLs to make it a bit shorter).

If I watch the access log for the combination that works (IE/Edge), I

[2016-04-26 10:06] guygriffiths opened #56 "API for upload of datasets"
Requested feature:
The ability to upload (via HTTP POST) a file and have it appear as a temporary dataset (with a given expiration time + data reader).  This would allow users to upload dynamically-generated data.  Should be disabled by default.

[2016-05-03 10:02] rsignell-usgs commented on #47
@guygriffiths just want to make sure this is still on the radar.   This seems to me a pretty significant issue, since it makes ncwms2 unusable for forecast models .

[2016-05-03 10:03] guygriffiths commented on #47
Yep, still on the radar, but I'm quite busy with other work at the moment.  I should hopefully find some time next week to look into this.

[2016-05-06 14:56] guygriffiths commented on #47
@rsignell-usgs , I'm having a look at this, but I'm unable to reproduce the error.

For all local datasets, (tested with single file, glob aggregations and NcML aggregations) I can set the auto-refresh in the admin interface, change the data, and then check it after the enough time has elapsed, after which the data is up-to-date in Godiva (after clicking the Refresh button and reloading the variab

[2016-05-09 15:12] guygriffiths commented on #54
OK, I've managed to reproduce this now.  It seems to be due to Tomcat 8.  We've only tested ncWMS2 using Tomcat 7 and the behaviour is different.  I'll do some investigating and see if I can find a workaround.

[2016-05-09 15:12] rjdave commented on #47
@guygriffiths There aren't really any details. The admin page says it has updated but there is no new data in godiva3 even after forced refresh in the admin page and refresh on the godiva3 page. Perhaps we aren't using the same .war file you are. Could you put your .war file somewhere we could download it from like dropbox or googledrive?

[2016-05-09 15:36] guygriffiths commented on #47
@rjdave - You can download it from here:
http://www.personal.rdg.ac.uk/~qx901922/ncWMS2.war

[2016-05-10 17:23] rjdave commented on #47
@guygriffiths That WAR file doesn't work at all for me. It throws a bunch of warnings and errors in catalina.out (Attached)

[catalina.out](https://github.com/Reading-eScience-Centre/edal-java/files/257741/catalina.txt)

This log is starting from a pretty clean setup of tomcat 8.0.32 and java 1.8.0_74. I took your war file and modified WEB-INF/web.xml to allow my digested password tomcat setup to

[2016-05-11 13:39] guygriffiths commented on #54
OK, after some experimentation I've figured this out. The issue was that the admin servlet was sending a blank redirect:
`response.sendRedirect("")`
(so that refreshing the page will not resubmit the form)
In Tomcat <=7, that was redirecting to http://servername:port/ncWMS2/admin whereas in Tomcat 8 it was being treated differently. From the headers it seems that Tomcat 7 was intercepting the redi

[2016-05-11 15:25] #54 closed

[2016-05-11 15:25] #55 closed

[2016-05-11 15:26] #53 closed

[2016-05-11 15:36] guygriffiths commented on #47
@rjdave I've just performed a bugfix release which includes these changes.  Can you try this new release?  I've tried it on clean Tomcat 8 installation on my machine at it works as expected with the dataset:
dods://tds.marine.rutgers.edu/thredds/dodsC/cool/codar/totals/5Mhz_6km_realtime_fmrc/Maracoos_5MHz_6km_Totals-FMRC_best.ncd

The release can be found here:
https://github.com/Reading-eScience-

[2016-05-12 02:46] rjdave commented on #47
@guygriffiths I can confirm that the codar dataset does update properly with the new WAR. I can let you know about the other FMRC dataset a little after 7am EDT (11am UTC) tomorrow (Thursday).

[2016-05-12 03:06] rjdave opened #57 "cron style update cycle for changing datasets"
Are there any plans to add a cron-like auto update option? I have a several datasets that update at specific times from 30 minutes to daily. It would be nice, especially for the datasets that update daily, to be able to ask ncWMS2 to update shortly after the dataset is updated. Currently, worst case would be having to wait just under 24 hours after new data arrives before ncWMS2 would be aware of

[2016-05-12 12:08] rjdave commented on #47
@guygriffiths Our daily FMRC forecast model run is also updating automatically as expected. It took me a minute to realize it because it ncWMS2 doesn't display the latest time record available. It appears that it shows the latest time record for the current day. I had to click the date dropdown to see that new forecast records were added.

[2016-05-12 12:42] guygriffiths commented on #47
OK, great to hear.  @rsignell-usgs - I would guess this fixes the issues you were seeing as well?  If you can test it, I'll close this issue.

Re: times - yes, Godiva displays the closest time to the present by default.

[2016-05-12 12:52] rjdave opened #58 "tomcat handled password digestion and persistent configDir"
I have found that for tomcat handled password digestion (set in conf/server.xml using CredentialHandler) I have to replace **DIGESTED** with **BASIC** for "&lt;auth-method&gt;" near the bottom of webapps/ncWMS2/WEB-INF/web.xml. Perhaps this setting would be better stored in a config outside of webapps/ncWMS2 so it is not replaced with each upgrade. Or maybe this override is already available and I

[2016-05-12 14:06] guygriffiths commented on #58
@rjdave I don't believe that the auth-method can be accessed programmatically or configured outside of web.xml.  If you are aware of a way of doing this I'd be happy to look into implementing it.

However, for configDir, I think it might be a good idea to move (all of) the configuration from the config.properties file to context parameters in web.xml.  Those could then be overridden by configuring

[2016-05-12 14:59] guygriffiths commented on #58
I've implemented the configuration of configDir (and other parameters from config.properties) in the web.xml file so that they will persist across deployments if overridden in a context file at the Tomcat level.  https://github.com/Reading-eScience-Centre/edal-java/commit/cef96a148ea37be4dbfdf24096396607f5fe8b96

[2016-05-17 14:25] guygriffiths commented on #57
There are no plans to do that at present, but it's a possible enhancement we'd consider.

In the meantime, you can always change your refresh rate to something more regular than 1 day if you want data to be available quicker.

[2016-06-08 15:10] kwilcox commented on #58
Thanks for this @guygriffiths, being able to override all of the values in the tomcat context config is crucial for us.  The documentation [here](https://reading-escience-centre.gitbooks.io/ncwms-user-guide/content/02-installation.html#servlet) could be improved, but I couldn't find a repository to contribute the changes.

This

[code]

It should have all of the config options listed so people don

[2016-06-08 15:16] guygriffiths commented on #58
@kwilcox Thanks for that.  I will update the docs tomorrow.

For future reference, all of the docs for the user guide can now be found at:
https://github.com/Reading-eScience-Centre/edal-java/tree/develop/docs

[2016-07-13 13:01] rsignell-usgs commented on #46
@guygriffiths , I hope SGRID support is still on the radar.   This would be hugely useful to the ROMS, Delft3D, WRF and other communities as it would allow them to visualize velocity data on their native grids!

[2016-07-19 10:55] mvtm-dn opened #59 "Bug in common/src/test/java/uk/ac/rdg/resc/edal/util/ExtentsTest.java"
Another one issue in unit test linked to timezones. Test fails if current timezone differs from UTC.
Fix:
=== modified file 'common/src/test/java/uk/ac/rdg/resc/edal/util/ExtentsTest.java'
--- common/src/test/java/uk/ac/rdg/resc/edal/util/ExtentsTest.java	2016-04-07 18:48:35 +0000
+++ common/src/test/java/uk/ac/rdg/resc/edal/util/ExtentsTest.java	2016-07-19 10:40:34 +0000
@@ -31,6 +31,7 @@
 import

[2016-07-20 14:53] guygriffiths commented on #46
I'm working on this at the moment, but it's considerably more complex to implement than the UGRID case.  I hope to have something working by the end of the week, but it'll most likely be an implementation of the 2D horizontal case rather than the full 3D one.

[2016-07-20 15:08] rsignell-usgs commented on #46
@guygriffiths , that's fine, actually.   We don't even use the full 3D one ourselves.   We just have 2D horizontal case with layers where the vertical coordinate is fully specified.

[2016-07-22 14:37] guygriffiths commented on #46
A quick question about the example grid which @rsignell-usgs linked to (http://geoport-dev.whoi.edu/thredds/dodsC/coawst_4/use/fmrc/coawst_4_use_best.ncd.html):

Whilst this is a staggered grid, it appears that all of the staggered grids are explicitly defined.

For example, the SGRID variable has the "edge1_dimensions" attribute to indicate how variables on the edges of the grid should be defined

[2016-07-22 14:53] rsignell-usgs commented on #46
The example grid (http://geoport-dev.whoi.edu/thredds/dodsC/coawst_4/use/fmrc/coawst_4_use_best.ncd.html) hopefully follows the example for ROMS grids as described in the SGRID conventions (https://sgrid.github.io/sgrid/#roms)

ROMS can write output at 4 different locations:
* lon_rho,lat_rho points (temperature, salinity, water level, depth, ...)
* lon_u, lat_u points (u component of velocity)
*

[2016-07-22 15:03] guygriffiths commented on #46
It kind of makes sense, but what I don't understand is why lat_rho, lon_rho, lat_u, lon_u, lat_v, and lon_v are defined at all.  Aren't they redundant, given that they can all be derived from lat_psi, lon_psi, and the SGRID relationships?

And if they are redundant, which is the definitive grid to use for u, v, zeta, etc?  The NetCDF-defined ones, or the SGRID defined ones?

[2016-07-22 15:44] rsignell-usgs commented on #46
They are not redundant since these are curvilinear orthogonal grids, like this:
![](https://www.myroms.org/links/newbad.png)

So if given the corners or center of edges you can *guess* what the exact coordinate values are in the grid cell centers, but it won't be exact.

For ROMS and other C grid models, the values will always be defined at the grid cell centers.   I guess the most robust thing to

[2016-07-25 14:44] guygriffiths commented on #46
OK, that's all clear.  I've implemented it, and I'll let you have a test version once I've managed to iron out the race-condition bug which I've managed to introduce for staggered grids...

[2016-07-26 12:40] cehbrecht opened #60 "failed to visualize cmip5 netcdf files with ncWMS 2.2.1"
i've updated ncWMS from 2.0.4 to 2.2.1. Now i get a timestamp problem for cmip5 and cordex netcdf files from the ESGF archive.

    2016-07-26` 14:30:42 WARN  WmsServlet:2477 - Wms Exception caught: "The string 2005-12-16T12%3A00%3A00.000Z does not represent an ISO8601 datetime" from:uk.ac.rdg.resc.edal.util.TimeUtils:127

In the 1.x version of ncwms there was a problem with the calendar used in c

[2016-07-26 13:56] guygriffiths commented on #46
OK, I've uploaded a working version here:
http://www.personal.rdg.ac.uk/~qx901922/ncWMS2.war

I've tested it with the dataset you supplied (which would have worked for visualisation purposes anyway, since all of the grids are defined) as well as some test grids based on the definitions in the SGRID spec.  If anyone has some sample datasets to use, I'd be grateful if you could try this build.  If n

[2016-07-26 14:44] guygriffiths commented on #59
Great thanks.  That'll be fixed in the next release.  Happy to add you as an author in the Javadoc of that class if you let me know the name to put.

[2016-07-26 18:23] rsignell-usgs commented on #46
@guygriffiths , I tried out the new WAR file, and it works fine to display each scalar variable component on the COAWST model test dataset, but I didn't see a "u:v-group" or "ubar:vbar-group" like I expected.

One of the main gaps in CF we wanted to fill with SGRID was the ability to plot vectors correctly from a staggered grid model.

Is this a future enhancement for ncWMS2, or am I doing somethi

[2016-07-27 09:33] guygriffiths commented on #46
At the moment it's just the reading of data onto staggered grids that's implemented.  I'll have a go at getting vector quantities to work properly.  However, it's not immediately obvious to me how that should work in the general case.  When the padding is set to "both" or there is no offset, it's straightforward, but for "none", "low", or "high", it's not apparent how this would work.

For now I w

[2016-07-27 09:50] rsignell-usgs commented on #46
The way I see it, different padding types just modify the output domain of the operation requested.  For example if cell-centered velocities are requested, and there are not velocities on either side of the cell, you will not get a cell-centered velocity there.   In other words, no special cases that involve using nearest values or extrapolation.

[2016-07-27 10:03] rsignell-usgs commented on #46
But handling COAWST type data first would be a great step.  We have a lot of that type of model output.

One thing we also have to deal with COAWST/ROMS output is that the velocities are aligned with the grid orientation, not east/north.    So we've listed the `standard_name` for `u,v` as `x_sea_water_velocity, y_sea_water_velocity` (and maybe we should propose standard_names like `i_sea_water_vel

[2016-07-27 10:17] guygriffiths commented on #46
OK, I'll implement the COAWST type first, then see how long the general case will take.

Currently vectors are recognised based on the standard names "northward_.*", "eastward_.*", "u-.*component" and "v-.*component" (I know that these last two aren't officially standard names, but they were used in many of the examples I was testing).  I'll add the ".*x_.*velocity" and ".*y_.*velocity" as trigger

[2016-07-27 10:21] rsignell-usgs commented on #46
Phew!

Agreed!

[2016-07-27 13:22] guygriffiths commented on #60
Can you point me towards a data file I can download to reproduce this error?

[2016-07-27 13:57] cehbrecht commented on #60
you can get cmip5 data from esgf:

https://esgf-data.dkrz.de/search/cmip5-dkrz/

But you need to sign-up for an account and register to the non-commercial group.

I've also some modified testdata on github:

https://github.com/bird-house/flyingpigeon/tree/master/flyingpigeon/tests/testdata

[2016-07-27 14:11] guygriffiths commented on #60
I tried with all of the modified test data, but it works fine at every time step in Godiva3.  Can you confirm that you also see this error with your test data?  And if so, can you describe how you're getting it (e.g. though Godiva3 by clicking on the variable, by using a specific WMS request string, etc.)?

[2016-07-27 15:25] cehbrecht commented on #60
i'm using the ncwms 2.2.1 war file with tomcat 7. I've added one of my test files (``tasmax_Amon_MPI-ESM-MR_rcp45_r1i1p1_200601-200612.nc``) both as dynamic and static dataset. I'm using godiva3 to see the map. The time selection and variable name are correctly filled but i still get the ``Requested time has an invalid format`` exception. It works with 2.0.4 but no version above ...

In firebug i

[2016-07-27 15:44] guygriffiths commented on #60
OK, I have tried with a fresh installation of Tomcat 7 and the 2.2.1 war file, but I still can't reproduce this - I get a similar request string but the time is correctly formatted.  To get that request you must already be viewing a variable before you select that dataset - otherwise the time field is omitted.  What dataset are you viewing before clicking on the "tasmax" variable (and do you have

[2016-07-27 16:11] cehbrecht commented on #60
I don't know what to say ... its working now :) Haven't changed anything ... just made a fresh install ... but i did that before as well.

The default base layer "Natural Earth WMS" also shows up which didn't work before.

Maybe a problem with external resources?

I open the godiva with a direct link on a dynamic dataset from another app, for example:

http://localhost:8080/ncWMS2/Godiva3.html?dat

[2016-07-28 10:14] guygriffiths commented on #60
OK, I'll close this one for now, but if it happens again, let me know and I'll look into it further :)

[2016-07-28 10:14] #60 closed

[2016-07-28 14:14] cehbrecht opened #61 "How to customize Godiva3?"
The Godiva3 has more features than i would need as a simple WMS viewer for my netcdf files. But it looks very "technical".

Is it possible to customize Godiva3? For example the map size ...

Is it possible to separate the Godiva3 from the wms service? So, the Godiva3 would be part of my web frontend but it uses ncWMS pure wms service on another host.

It is hard to navigate with the current "time

[2016-07-28 14:29] guygriffiths commented on #61
There is very limited possibility to configure Godiva3.  On load, it queries the URL "getconfig" on the server.  If this returns a JSON object with values for "mapHeight" and "mapWidth" then they will be used.  Otherwise it is only possible to customise Godiva3 by modifying the source and rebuilding it.

You can separate Godiva3 from the WMS by specifying the "server" URL parameter.  For example,

[2016-07-28 15:07] cehbrecht commented on #61
yes, i meant using a remote ncWMS with godiva3. So, separating client and server.

good to know :)

[2016-08-01 13:16] guygriffiths commented on #46
Just to let you know that our current handling of vectors assumes that we only have a single value for each component (rather than the averaging of multiple-components which we need to do here), so it's going to be a considerably bigger job that I first envisaged.  It's still something I'm working on though.

[2016-08-02 08:16] cehbrecht opened #62 "default namespace in wms GetCapabilities 1.1.1"
i'm using the owslib.wms to access the latest ncWMS2 2.2.1. The GetCapabilities xml document defines a default namespace. This troubles the python lxml parser in owslib, so i provided a workaround:

https://github.com/geopython/OWSLib/pull/338

The owslib people say there is no default namespace defined for wms 1.1.1. So, can it be removed in ncWMS2?

[2016-08-02 10:05] guygriffiths commented on #62
OK, I've done this - it'll be in the next release.

[2016-08-02 11:38] cehbrecht commented on #62
thanks :)

[2016-08-04 13:58] guygriffiths commented on #46
OK, so here's the current situation.

In the left-hand diagram below, the purple square represents a single grid cell of the unstaggered grid.  It has a value defined at the centre, which in EDAL is valid throughout the grid cell.

The 2 red squares represent the grid cells of the u-component of (say) velocity.  They have the values 1 and 2 defined at their centres, which in EDAL are valid through

[2016-08-09 12:04] cehbrecht opened #65 "dynamic service with queryable layers"
i'm using leaflet with the time-dimension plugin to access ncWMS 2.2.1. There is also an example on leaflet with Thredds/ncWMS:

http://apps.socib.es/Leaflet.TimeDimension/examples/example13.html

I'm using the ncWMS2 with tomcat (no Thredds) and dynamic service. I have the problem that the timedimension plugin could not parse the time extent in GetCapabilities document. The reason for this is tha

[2016-08-09 13:19] guygriffiths commented on #65
Yes they should, and now in the next release they will :)

[2016-08-10 10:13] rsignell-usgs commented on #46
@guygriffiths, let's just average the velocity component to the `face` location (no 2X resolution).   And let's use the `sgrid` terminology  `face` for a suffix, like:
[code]
Sorry about the delay -- I was on vacation last week and then putting out fires...

[2016-08-10 10:54] guygriffiths commented on #46
OK, I'd anticipated this and had already done the vast majority of the coding, so it's now completed on the develop branch.  I've also updated the build at:
http://www.personal.rdg.ac.uk/~qx901922/ncWMS2.war
for you to test.

The one difference was that I used the suffix ":face", rather than "-face".  This is because the character ":", is not permitted in NetCDF variable names, whereas "-" is.  Bo

[2016-08-10 12:21] rsignell-usgs commented on #46
@guygriffiths , it's working!  Check out our COAWST forecast (OPeNDAP endpoint http://geoport-dev.whoi.edu/thredds/dodsC/coawst_4/use/fmrc/coawst_4_use_best.ncd):
![2016-08-10_8-16-18](https://cloud.githubusercontent.com/assets/1872600/17553317/3e351e54-5ed3-11e6-9e18-8e4da4671069.jpg)

Woo hoo!
It did take 80 seconds, however, to render this image.   Is there room for performance enhancement?

[2016-08-10 12:53] guygriffiths commented on #46
My guess is that the performance issue is primarily due to network speed.  I'm not sure, but I have a local copy of that dataset (at a different time) and it takes about 10s to render from my laptop.  Certainly not as quick as simple gridded data, but it does need to calculate the averages on the fly, then transform them into vectors (which involves calculating the grid direction).

[2016-08-10 13:08] rsignell-usgs commented on #46
The OPeNDAP endpoint is on the same machine that ncWMS2 is running on, so perhaps it's the OPeNDAP access efficiency vs local file that is making the difference.

So can we point ncWMS directly at an NcML file?    I guess so, since its using netcdf-java, right?

[2016-08-10 13:09] guygriffiths commented on #46
Yep, you can add an NcML file to ncWMS.  Or if you give it a glob expression, it'll internally use the netcdf-java libs to process it as if it were NcML.

[2016-08-10 19:55] rsignell-usgs commented on #46
Wow, the NcML *is* a lot faster.    Getting some strange caching issues, though.   When zoomed out everything was missing, and when zoomed in, some tiles stayed missing.   Are they timing out, do you think?
![2016-08-10_15-53-18](https://cloud.githubusercontent.com/assets/1872600/17568725/e94f98b6-5f12-11e6-919c-296fa8836002.jpg)

[2016-08-10 20:27] rsignell-usgs opened #66 "Trouble opening OPeNDAP endpoint ending with .ncml"
When I try to add this OPeNDAP Data Endpoint
http://geoport-dev.whoi.edu/thredds/dodsC/clay/usgs/users/zdefne/run076/his/00_dir_roms_display.ncml
in the `Location` field in for a new dataset (called "Barnegat-DAP") in the ncWMS2 admin GUI, I get an Error:
[code]
I'm guessing that that this is because this OPeNDAP endpoint ends in '.ncml', so edal-java is assuming that it is an NcML file instead of

[2016-08-11 10:11] guygriffiths commented on #66
OK, thanks for pointing this out.  It's an easy enough fix in itself, but it's highlighting the missing image issue you found here:
https://github.com/Reading-eScience-Centre/edal-java/issues/46#issuecomment-238984611

I'll close this issue once we've done a release, but I'll wait until I've fixed the SGRID/NcML issues first

[2016-08-11 13:55] guygriffiths commented on #46
@rsignell-usgs This was a fun one to debug!

The problem is that the SGRID metadata for that dataset is wrong.  This issue is that invalid ranges are being requested at the edge of the grid, causing exceptions.  So when it's zoomed out, the entire thing fails, when zooming in, only the tiles at the edge fail.  I have been testing it with the variable `v`.  Looking at the metadata for that dataset,

[2016-08-11 14:16] rsignell-usgs commented on #46
@guygriffiths, OMG.  I'm so sorry that the problem was on our end.  :crying_cat_face:
Good sleuthing !

[2016-08-11 14:17] guygriffiths commented on #46
For what it's worth, this is the output I get after implementing the sanity checks:
[code]
Looking at the metadata, every single `location` attribute has the value `face`, regardless of which coordinates it's actually defined on.

I guess it's theoretically possible to determine the true location of the variables from the dimensions they use, but the SGRID conventions seem pretty clear on the `loc

[2016-08-11 14:39] rsignell-usgs commented on #46
Yes, it's pretty clear to me that the modeler who created this run didn't use our script to automatically generate the NcML.   He must have typed that in by hand, not realizing that he couldn't just cut and paste the location.

[2016-08-11 17:39] rsignell-usgs commented on #46
Yep, this dataset is working just fine now that the u,v locations are correctly defined:
![2016-08-11_13-38-19](https://cloud.githubusercontent.com/assets/1872600/17598524/f9d8b81e-5fc8-11e6-9703-25e301e362ee.jpg)

[2016-08-11 17:39] #46 closed

[2016-08-11 17:44] rsignell-usgs commented on #66
Just to clarify, we still have the issue of ncWMS2 thinking that a URL that ends in `.ncml` must be an NcML file, right?    Or at least that an OPeNDAP endpoint with NcML at the end is not being opened as OPeNDAP?

[2016-08-11 19:41] guygriffiths commented on #66
No, I've fixed it, certainly in my local copy if not the github develop branch. It'll work in the next release.

[2016-08-11 19:46] rsignell-usgs commented on #66
Okay!  Looking forward to next release!

[2016-09-06 15:05] guygriffiths opened #68 "Improve WMS plots"
This request came from a user, who summarised the improvements in this document:
[improving_ncwms_transect_pictures.pdf](https://github.com/Reading-eScience-Centre/edal-java/files/457004/improving_ncwms_transect_pictures.pdf)

Note that converting lat-lon distances to km isn't straightforward, but Apache SIS has a function in DistanceUtils which will do it.  Perhaps we can implement this after con

[2016-09-06 15:06] #66 closed

[2016-09-06 15:07] #65 closed

[2016-09-06 15:07] #62 closed

[2016-09-06 15:08] #61 closed

[2016-09-06 15:08] #59 closed

[2016-09-06 15:08] #58 closed

[2016-09-06 15:09] #51 closed

[2016-09-06 15:10] guygriffiths commented on #37
This is all done and released.  By enabling the "Download" option in ncWMS admin, users can call GetMap with the format `application/prs.coverage+json` and it'll download CoverageJSON

[2016-09-06 15:10] #37 closed

[2016-09-13 10:11] #30 closed

[2016-09-13 10:11] #24 closed

[2016-09-15 15:49] lesserwhirls commented on #30
Hi @guygriffiths - I just wanted to appologize that I never responded to this issue. The fix worked as expected. Thank you!

[2016-09-19 04:52] PeterWarren opened #69 "Large netCDF-4 file reading strategy"
We are using thredds (ncwms currently but soon to be edal-java) to render wms layers of large (64GB) NetCDF-4 files.  To avoid hitting out of memory errors we need to ensure the netcdf reading strategy is set to SCANNLINE.  Currently, the reading strategy chooser (getOptimumDataReadingStrategy) only selects SCANNLINE if the file type is "netCDF" or "HDF4".  Our files are "NetCDF-4" so the chooser

[2016-09-19 10:10] guygriffiths commented on #69
This looks good.  I've modified it slightly so that it uses the DataType size (from your code), and compares against a multiple of the maximum available memory.  This will make it to the next release of ncWMS2, and should hopefully be in a subsequent TDS release.

[2016-09-20 00:36] PeterWarren commented on #69
Thank you Guy.
When testing this I also noticed there are 2 very minor numeric overflow bugs in DerivedStaggeredGrid.size() and RectilinearGridImpl.size().  One or both integers used need to be cast to longs before multiplying.
eg.
        return (long) xAxis.size() * (long) yAxis.size();

[2016-09-20 09:28] guygriffiths commented on #69
Great, thanks, I've fixed that one too.

[2016-09-30 11:18] guygriffiths commented on #69
So after some testing, it turns out that this is having a very detrimental effect on displaying data from large datasets - SCANLINE is a lot slower for compressed data, and this change is picking SCANLINE for datasets which really don't need it.

I've changed the code so that only the size of the horizontal grid is taken into account.  That's all that DataReadingStrategy applies to anyway, so this

[2016-09-30 20:09] adamsteer commented on #69
Hi Guy - do you have a compiled ncwms jar containing your change that will
work with thredds 4.6? If so be really interested in testing it, we see
similar issues on a TDS which uses the scan line reading modification. I'm
not a Java developer, so grabbing a compiled jar is easiest - otherwise
I'll try to compile one. Thanks!

On 30 Sep 2016 21:18, "Guy Griffiths" <notifications@github.com> wrote:

[2016-10-05 10:09] guygriffiths commented on #22
PlottingDomainParams is still a thing, but it only comes in at the graphics level now - all of the methods in edal-common use the appropriate parameters for extraction.
I did this a while ago, but I've just cleaned up the javadocs which still had a few (dead) links to it.

[2016-10-05 10:09] #22 closed

[2016-10-05 10:57] guygriffiths commented on #13
Glyph styles for gridded data are not really possible with the current data model - features are extracted onto the map domain, which means that we don't have the single-value-per-grid-cell which would be needed for such a visualisation.  Closing

[2016-10-05 10:57] #13 closed

[2016-10-05 11:04] guygriffiths commented on #20
gitbook integration means that this would be impractical.  However, the new Godiva3 guide (still part of the ncWMS guide) has now been linked to from Godiva3.  Closing

[2016-10-05 11:04] #20 closed

[2016-10-05 14:10] guygriffiths commented on #10
Added as an option, specified in XML by defining a palette

[2016-10-05 14:10] #10 closed

[2016-10-05 14:14] guygriffiths commented on #23
I've done this, although rather than removing getParameterIds entirely (since it's quite widely used as a convenience method), I've renamed it getVariableIds, which is more accurate

[2016-10-05 14:14] #23 closed

[2016-10-05 14:24] guygriffiths commented on #12
This is only really possible if we start doing interpolation whilst reading the data onto the map grid (instead of taking a nearest-neighbour approach).  That's a pretty big change which will have effects throughout EDAL, and no-one's actually requested it.  Probably best to leave this one, but I'll leave it open for future possibilities...

[2016-10-05 14:26] guygriffiths commented on #21
This is done and is in the appendix of the EDAL user guide:
https://reading-escience-centre.gitbooks.io/edal-user-guide/content/appendices/sld_spec/introduction.html

[2016-10-05 14:26] #21 closed

[2016-10-06 11:11] jonblower commented on #13
Does this mean we've lost some of the capabilities we had from GeoViQua? Could we not use the values within the map domain to derive the glyphs?

[2016-10-06 13:03] guygriffiths commented on #13
This was specifically referring to using the in-situ glyphs on gridded data - i.e. having a coloured icon at the cell centre - which has never really been possible.  The glyph-based stuff from GeoViQua is still in there.

[2016-10-06 14:10] jonblower commented on #13
Ah OK

[2016-10-17 00:43] PeterWarren commented on #69
Thanks again Guy.  I'll backport your patch into 4.6 for Adam and test the current master branch.

[2016-10-17 14:47] letmaik opened #70 "Cannot access underlying CRS for AbstractTransformedGrid"
It would be very useful to be able to access the underlying CRS of a AbstractTransformedGrid for data conversion tasks (here to CovJSON). This is to generate the CRS URI that is included in the reference system info of the resulting JSON.

[2016-10-17 18:18] rsignell-usgs opened #71 "Is it possible to build edal-java using Docker?"
Is it possible to build edal-java without installing Maven, perhaps by using the Docker container for maven?

[2016-10-17 18:22] rsignell-usgs commented on #71
Okay, actually I figured this out with help from @daf:
[code]

[2016-10-17 18:24] #71 closed

[2016-10-25 00:16] julian1 opened #72 "Weird temporal bounds check issue when using default/recent Joda time librarry."
I've created a simple project following the NcDiag.java example and using DiscreteLayeredDataset to examine netcdf files.

If I don't specify joda-time dependency in the pom - then it defaults to 2.8.1. And running my example generates the following joda bounds check error,

[code]

Making a single change to the pom to specify version 2.2 joda dependency - to match https://github.com/Reading-eScie

[2016-10-25 09:22] guygriffiths commented on #72
Sounds like it could be a project configuration issue.  edal-common should pull in joda-time v2.2, as required (and it looks like it works when you use that version) - where is version 2.8.1 coming from?  I guess you are using another library which uses 2.8.1?

[2016-10-25 11:10] julian1 commented on #72
In my project pom I only included edal-cdm, and not edal-common. Maven didn't complain and unzipping the shaded jar shows it wasn't pulled in indirectly/transitively.  I'm only using the dataset class and extracting variable metadata, grid bounds - no graphics etc. Everything works as expected (ignoring the joda issue).

If edal-common is required, then I can certainly add it. Otherwise just expre

[2016-10-25 11:17] guygriffiths commented on #72
That's very strange.  edal-cdm depends on edal-common - if you depend on edal-cdm it should absolutely pull in edal-common as a dependency.  Can you post a copy of your pom.xml on here?

[2016-10-26 21:33] julian1 commented on #72
https://github.com/julian1-testing/reconciliation-example/blob/master/pom.xml

[2016-10-26 21:36] julian1 commented on #72
There is a edal-common pom in the resultant jar, but no edal-common class files.
[code]

[2016-10-27 09:32] guygriffiths commented on #72
I think the issue is that `aws-java-sdk-s3` is pulling in `joda-time`.  If I specifically exclude `joda-time` from `aws-java-sdk-s3`, and remove the `joda-time` artifact, then I think it will pull it in as a dependency.  I can't be sure, because it doesn't build on my machine (for some reason, the source compatibility level is set to 1.3 and it won't compile because you've used generics), but usin

[2016-10-27 20:34] julian1 commented on #72
Yes. This is easily worked around.

For the most part, I just thought it was odd, that  verifyValueBounds(DateTimeField field, int value, int lowerBound, int upperBound) which going by the signature is a very simple range check started to throw. So my concern was - that it was flagging some other logic issue somewhere (possibly in joda time).

[2016-10-28 14:48] guygriffiths commented on #72
Yeah, I tend to agree that it could be a warning flag.  Hopefully the update to joda time 2.9.4 (just released) will fix any problems before they arise...

[2016-11-02 11:31] #72 closed

[2016-11-02 14:12] guygriffiths commented on #68
Changed distance on transect plots to be in km

[2016-11-02 14:12] #68 closed

[2016-11-07 12:54] rsignell-usgs opened #73 "Allow getTimeseries download as text/json"
It would be nice to allow `getTimeseries` to have an `INFO_FORMAT` of `text/json` so that clients other than godiva3 could more easily access and plot the data (I'm thinking here of Terriajs...).   It's more of a pain to parse `text/xml`.

[2016-11-07 12:56] jonblower commented on #73
Yes, we should use [CoverageJSON](https://covjson.org) for this

[2016-11-07 12:57] rsignell-usgs opened #74 "Why is downloadable disabled by default?"
I'm just curious:  why is `downloadable`, required to download `getTimeseries` as `text/xml`, disabled by default?

[2016-11-07 12:58] jonblower commented on #74
Because some data providers are happy to make images of their data available, but not to expose the actual data. Hence we make this an opt-in process.

[2016-11-07 13:05] rsignell-usgs commented on #74
Sadness.   IMHO it would be better to allow folks to opt out if they didn't want their data shared.    Just my $0.02.

[2016-11-07 13:05] #74 closed

[2016-11-07 13:06] rsignell-usgs commented on #73
Uh oh, now CoverageJSON is out of the bag!  ;-)

[2016-11-08 12:40] guygriffiths commented on #73
`text/xml` isn't a supported format for `getTimeseries` - are you thinking of `text/csv`?

Either way, I'll implement support for `text/json` and more specifically `application/prs.coverage+json` for both `getTimeseries` and `getVerticalProfile` and have them return CoverageJSON.

[2016-11-08 14:42] rsignell-usgs commented on #73
@guygriffiths , oh, I guess that was the old ncWMS?  Or maybe i was confused.   In any case, it will be nice to have json!  Thanks!   And CoverageJSON looks super cool!

[2016-11-08 16:22] guygriffiths commented on #73
OK, this is done in the develop branch.

[2016-11-16 16:04] rsignell-usgs commented on #73
Is there an ETA for this functionality arriving in a ncWMS war file?

[2016-11-16 16:07] guygriffiths commented on #73
Not at the moment, no.  There's a bug in ncWMS 2.2.4 which occurs if a user wants to define a Tomcat context for ncWMS2 to tell it where to put the config directory.  The Tomcat context overwrites the context included with ncWMS2 which defines how to handle reprojection (necessary since we started using Apache SIS in EDAL 1.2.4), and only a small handful of projections end up being supported.

We'

[2016-11-16 16:12] rsignell-usgs commented on #73
Okay, thanks for the update and explanation.

[2016-11-16 23:58] yosoyjay opened #75 "Build fails, unidata libs are missing"
Build fails for edal, and ncWMS, because the specified versions are no longer available at ucar.

The problem seems to have occurred last month as well as was fixed with commit 7b7ae137fa536cdf86bd870b9a44a791340b953c.

[2016-11-17 10:09] guygriffiths commented on #75
@lesserwhirls - Any way we can get around this?  We just need some snapshot versions which won't go away.  We could just rely on 5.0.0-SNAPSHOT, but I'd prefer to have a fixed version which we've tested.

[2016-11-17 21:37] lesserwhirls commented on #75
@guygriffiths - sorry for the delay. I just turned off the removal of snapshots from our nexus repo, so they should not disappear until we get a 5 release out. So, you should be able to pin a snapshot until then.

[2016-11-25 14:36] Brictarus commented on #75
Hi there. @guygriffiths : could edal-java rely on **released version** for its dependencies, instead of snapshots ? Thx.

[2016-11-25 15:13] guygriffiths commented on #75
@Brictarus No.  We want to use v5 of the unidata libs for several reasons and there are no released versions as yet.

[2016-12-06 10:59] rsignell-usgs commented on #73
@guygriffiths , any updates here?

[2016-12-06 11:00] guygriffiths commented on #73
@rsignell-usgs No, not at the moment, sorry.  I'll try and find some time this week to chase it up, but the majority of my time at the moment is taken up by other projects.

[2016-12-06 11:16] rsignell-usgs commented on #73
@guygriffiths , that would be great.   The Unidata THREDDS Steering Team met last week and was discussing ncWMS2 features to be including in the upcoming TDS 5.0 release, and it would be great to have this in there.

[2016-12-07 12:24] guygriffiths commented on #73
@rsignell-usgs I managed to find a (horribly hacky) workaround to the Apache issue and I've just done a release which contains these changes

[2016-12-07 12:29] rsignell-usgs commented on #73
@guygriffiths , cool!   I see the new ncWMS artifact here:
https://github.com/Reading-eScience-Centre/ncwms/releases/download/ncwms-2.2.5/ncWMS2.war
Thanks!

[2016-12-07 15:15] rsignell-usgs commented on #73
This version 2.2.5 has been included in the Docker container here:
https://hub.docker.com/r/axiom/docker-ncwms/
Container deployed here:
gamone.whoi.edu/ncWMS
and proof that `text/json` is working here:
http://gamone.whoi.edu/ncWMS/wms?REQUEST=GetTimeseries&LAYERS=COAWST/salt&QUERY_LAYERS=COAWST/salt&BBOX=-72.7557,40.6738,-68.3175,44.2302&SRS=CRS:84&FEATURE_COUNT=5&HEIGHT=601&WIDTH=750&X=380&Y=327

[2016-12-07 15:15] #73 closed

[2016-12-12 16:00] SMichalet opened #78 "NetCDF positive attribute in vertical Z axis variable seems to be ignored"
The netCDF attribute "positive" for vertical Z axis seems to be ignored.
I take a netCDF file whith "positive" attribute equal to "down" for a vertical Z Axis (depth in my netcdf file) :

[code]

with values :

[code]

And I get positive values in ncWMS getCapabilities :
[code]

In the first version of ncWMS, with the same file, I get correct negative values :
[code]
I'm using ncWMS 2.2.3.
Am I mi

[2016-12-15 16:01] guygriffiths commented on #78
That looks like a bug.  I'll try and find some time to fix it, but I'm currently very busy on other projects at the moment.

[2016-12-16 14:46] guygriffiths commented on #78
In the libraries which underpin ncWMS2, we keep metadata about the vertical CRS (including the fact that positive values increase downwards).  The problem is that this metadata is not making it through to the WMS capabilities document - there is no way of distinguishing whether a WMS layer's vertical coordinates represent depth or height, which client applications may want for layer comparison.

H

[2016-12-16 15:27] jonblower commented on #78
I think in ncWMS1 the vertical axis was always "elevation" but if the underlying data was "depth" we just used negative values in the Capabilities doc. Could this work in EDAL/ncWMS2? Using the CRS codes is possible but I don't know how many clients will recognise them.

For pressure I can't remember what we did, I suspect we just set the units to "Pa" or something like that.

[2016-12-16 16:04] guygriffiths commented on #78
The problem with just negating the values in the Capabilities document is that GetMap will need to negate requested elevation values as well, which would mean that we would have to do that throughout EDAL.  So for an axis with a vertical CRS stating that positive is down and containing values of 0,5,10, our general-purpose methods for finding whether a value is contained in the axis would have to

[2016-12-19 13:43] jonblower commented on #78
Yes, I think if we simply negate the values we'd only do this "at the last minute" in the creation of the Capabilities doc, or somewhere in the WMS-specific code. In EDAL the metadata should be as close to the data files as possible (i.e. usually with positive coordinate values and appropriate return values for ```isPositiveUpwards()```.

IIRC, in ncWMS1, we did something like "if isPositiveUpward

[2017-01-03 11:11] guygriffiths commented on #78
So no-one from the ncwms-users list seems to have an opinion, and after talking to Martin Desruisseaux it seems that the issue of vertical CRSes is not settled amongst either the OGC or in the CF-conventions.

As we discussed offline, I think the best solution is that we use the `units` attribute to store a CRS-like string, specifically either `ncwms:height`, `ncwms:depth`, or `ncwms:pressure` and

[2017-01-18 17:13] rsignell-usgs opened #79 "Support transparency (8 digit hex code:) for categorical variables?"
I was wondering to specify a transparent value for one of my category values to ncWMS, and found this discussion of an 8-digit specification:
http://stackoverflow.com/a/39718004

The first 6 digits are interpreted identically to the 6-digit notation. The last pair of digits, interpreted as a hexadecimal number, specifies the alpha channel of the color, where 00 represents a fully transparent color

[2017-01-19 09:58] guygriffiths commented on #79
Hmm, we implemented something like this for ncWMS quite a while ago but used #AARRGGBB, rather than #RRGGBBAA.  That's the current way of doing it.

But if the #RRGGBBAA is becoming more standard, perhaps we should switch to that?  @jonblower - any thoughts?

[2017-01-19 10:14] guygriffiths commented on #79
Just had a browse of the code and changing formats now is a definite no.  ncWMS writes out the full 8-digit notation into config files so changing it would break existing configs.

Also, a quick Google suggests that the term #AARRGGBB occurs about twice as often as #RRGGBBAA, so it doesn't seem like it's been standardised in any way.

[2017-01-19 10:17] #79 closed

[2017-01-19 12:27] rsignell-usgs commented on #79
@guygriffiths, this is great!

I certainly don't care about how it's specified, I just didn't even know that it was a possibility.

 I was looking at the documentation on categorical data:
https://reading-escience-centre.gitbooks.io/ncwms-user-guide/content/05-data_formats.html#categorical
where all the examples use the 6 digit #RRGGBB colors, and didn't even look at the section on colour palettes

[2017-01-19 22:22] rsignell-usgs opened #80 ""Feature Info Unavailable" for non-time-dependent variables"
On my ncWMS2 endpoint (http://gamone.whoi.edu/ncWMS/Godiva3.html), when I click on a variable that does not depend on time, like the water depth (e.g. "COAWST" => "h") , I get back "Feature Info Unavailable":
![2017-01-19_17-04-04](https://cloud.githubusercontent.com/assets/1872600/22127735/459c3318-de6b-11e6-944e-00fb3eb121e2.png)

This is happening with all the non-time-dependent variables for b

[2017-01-20 01:51] rsignell-usgs opened #81 "GetLegendGraphic STYLES should be optional?"
After discussion with @kring, it seems that the issue [I reported as a TerriaJS issue](https://github.com/TerriaJS/terriajs/issues/2338) is likely a edal-java issue.

The TerriaJS GetLegendGraphic request:
http://gamone.whoi.edu/ncWMS/wms?service=WMS&version=1.1.0&request=GetLegendGraphic&format=image%2Fpng&transparent=True&layer=Inundation_hampton%2Fflood_index&colorscalerange=-50%2C50
returns th

[2017-02-16 23:55] frizwi opened #82 "ncWMS2 clips figures when UGRID faces are fully specified"
For a UGRID file that has faces, edges and nodes fully specified the images that ncWMS2 is producing (as seen by Godiva3) are being clipped as per the min/max of the face coordinates, hence the rest of the cell outside is not rendered.

Below is the original email thread that sparked this issue and I have attached the said image and the netCDF file that reproduces this:

Farhan,

This looks like a

[2017-02-17 09:39] guygriffiths commented on #82
Turned out that the bounding box (which is the first port-of-call for whether or not a point is part of the mesh) was only being calculated on the nodes, not the boundaries.  Fixed by https://github.com/Reading-eScience-Centre/edal-java/commit/b593cc3622e8e3b24a2dca0a60a12f2d2f8c1fda

[2017-02-17 09:39] #82 closed

[2017-02-17 11:05] guygriffiths commented on #80
@rsignell-usgs Seems to be caused by failure to parse when there is an empty <time> tag in the FeatureInfo response.  Not sure why it was responding with an empty tag, rather than just omitting it, but I've fixed the Godiva issue and put a check in to try and stop it returning empty in the first place.  It'll be in the next release.

[2017-02-17 21:15] rsignell-usgs commented on #80
@guygriffiths , awesome!    Thanks!

[2017-02-20 14:51] guygriffiths commented on #81
OK, the trouble was that STYLES is supposed to be mandatory for GetMap requests and we were using the same code.  I've relaxed that restriction, so GetMap requests will still work if STYLES is missing.  I guess technically it's not what a WMS should do, but I can't imagine a client which would rely on GetMap failing if STYLES is not present...

[2017-02-20 14:51] #81 closed

[2017-02-20 14:51] #80 closed

[2017-02-20 14:51] #78 closed

[2017-02-20 16:21] #75 closed

[2017-04-07 18:01] rsignell-usgs opened #84 "Trouble rendering Global UGRID mesh"
I'm having trouble getting EDAL/ncWMS2 to render this global UGRID dataset correctly:
OPeNDAP endpoint: http://www.smast.umassd.edu:8080/thredds/dodsC/FVCOM/NECOFS/Forecasts/NECOFS_FVCOM_OCEAN_GLOBAL_FORECAST.nc.html
ncWMS2 endpoint here:
http://gamone.whoi.edu/ncWMS/

@edal-java team, can you tell if the problem in on my end or yours?

![2017-04-07_14-00-37](https://cloud.githubusercontent.com/as

[2017-04-18 17:14] rsignell-usgs opened #86 "Would it be possible to also advertise palettes as styles, as in ncWMS?"
As discussed here https://github.com/TerriaJS/terriajs/issues/2200, generic WMS clients do not see the list of palettes advertised as styles, as ncWMS2 palettes are accessed through a custom getMetadata call.

Would it be possible to also allow ncWMS2 service providers to advertise the palettes as styles also, or at least some subset of palettes?

This would allow workflows like this TerriaJS one

[2017-04-18 19:22] yosoyjay commented on #86
Just to be clear, you'd like to be able to advertise the available palettes
via the GetCapabilities call even though it may be a bit tricky to parse?

On Tue, Apr 18, 2017 at 10:14 AM, Rich Signell <notifications@github.com>
wrote:

[2017-04-18 20:22] adamsteer commented on #86
dang, need to add the second half! Thanks early morning fingers..

vs ncWMS2:

<Layer queryable="1">
<Name>FVCOM-NECOFS-GOM3/y</Name>
<Title>y</Title>
<Abstract>nodal y-coordinate</Abstract>
<EX_GeographicBoundingBox>
<westBoundLongitude>-75.68433380126953</westBoundLongitude>
<eastBoundLongitude>-56.850791931152344</eastBoundLongitude>
<southBoundLatitude>35.27653121948242</southBoundLatitude>
<n

[2017-04-18 20:35] kwilcox commented on #86
This was done to avoid GetCaps bloat.  `ncWMS1` lists out every combination of layer type and palette leading to enormous XML documents. In this case, instead of listing **(4)** styles per layer, you are asking to list out **(372)** styles per layer (4 layer types * 93 palettes).

Did you try setting the `advertisedPalettes` setting per the documentation? Did that work? https://reading-escience-ce

[2017-04-18 20:51] rsignell-usgs commented on #86
I don't need *all* the palettes advertised as layers, just a few favorites!

So like 12 layers instead of 4.  If advertised palettes already does this, then great!

I just thought that meant advertised in the non-standard, non-layer approach.

And of course I'm not suggesting we abandon the new non-bloat approach to listing large numbers of palettes.  Just that we allow a few more options for stan

[2017-04-18 23:05] adamsteer commented on #86
Ah ha. Thanks for filling in there. I go the opposite way, trying hard to
*not* let users select rainbow :)

[2017-04-19 14:24] guygriffiths commented on #84
@rsignell-usgs - Looks like it's on our end.  The issue is that we try and create a bounding polygon for a mesh, along with nested polygons in the case where there are holes in the mesh.  However, for a global field the bounding polygons are actually the inside of landmasses.  This is then further complicated by the fact that grid cells may cross the date line.

I'll continue to look for a solutio

[2017-04-19 15:06] rsignell-usgs commented on #84
@guygriffiths, okay, thanks for taking a look and scoping the problem.

[2017-04-19 15:07] rsignell-usgs commented on #84
@yosoyjay and @kwilcox, here's another one that might be a candidate for NFWF work?

[2017-04-19 17:08] rsignell-usgs commented on #86
@guygriffiths, would `advertisedPalettes` allow me to address this issue?

If so, is there an example?

I tried creating a custom `ncWMS.xml` file as below but then my service didn't start.
[code]

[2017-04-19 17:19] kwilcox commented on #86
I'll give this a shot right now and see if I can get the setting to stick (and see what it actually does)

[2017-04-19 18:02] kwilcox commented on #84
I'm quite enjoying the abstract images that are produced and going to label this as a **feature** :wink:

[2017-04-19 18:32] kwilcox commented on #86
The service starts fine with a config file like so:

[code]

But does not change what is advertised in the GetCapabilities!

[2017-04-19 18:59] kwilcox commented on #86
@yosoyjay I traced it down to this:

1. GetCaps are templated from [here](https://github.com/Reading-eScience-Centre/edal-java/tree/master/wms/src/main/resources/templates)
2. `availablePalettes` seems to be set correctly [here](https://github.com/Reading-eScience-Centre/edal-java/blob/master/wms/src/main/java/uk/ac/rdg/resc/edal/wms/WmsServlet.java#L693).
3. `advertisedPalettes` seems to be build

[2017-04-19 20:09] yosoyjay commented on #86
Yeah, $CATALINA_HOME/conf/Catalina/localhost/ncWMS.xml should be
$CATALINA_HOME/conf/Catalina/localhost/ncWMS2.xml

Testing now

On Wed, Apr 19, 2017 at 11:59 AM, Kyle Wilcox <notifications@github.com>
wrote:

[2017-04-19 20:21] kwilcox commented on #86
Since we deploy the webapp as `ncWMS` I thought it would pick this up. Can you tell I don't understand servlet containers?

[2017-05-24 04:11] adamsteer commented on #69
just catching up here - what's the best way to go about testing this patch - is it part of any edal-java release yet (wondering if i should leap ahead to TDS 5 at this point)? and/or where can I grab a compiled ncwms.jar file containing the patch for TDS 4.x? Thanks

[2017-05-31 09:19] guygriffiths commented on #69
@adamsteer - Yes, this will have made it into any recent edal-java release, and so should be available in the latest TDS 5 builds.  @PeterWarren would be better placed to tell you whether this is in any 4.x version of TDS

[2017-06-01 06:33] frizwi opened #89 "Godiva3 default depth"
Hi, Godiva2 used to display the top vertical layer as default, Godiva3 now shows the bottom layer - is that a configuration in ncWMS/WMS or something else?
Similarly the vertical profile is inverted.
Thanks

[2017-06-01 06:36] frizwi opened #90 "Godiva3 base layers"
The top 2 Godiva3 base layers, "Natural Earth" and "Blue Marble" WMS don't seem to be resolving and hence no background shows up. Is this something that's a known issue and will be fixed soon? Or else is there a way to set the "Demis" the default - as all the rest work just fine.
Thanks

[2017-06-01 08:35] guygriffiths commented on #89
The default behaviour should be to pick the closest vertical layer to the surface - i.e. the top vertical layer for a depth axis, but the bottom vertical layer for a height axis.

It looks like this is currently not working for axes with units of pressure, which are also being incorrectly labelled as "Depth", when pressure is generally used as a substitute for height.  I'll fix this bug - can you

[2017-06-01 08:38] guygriffiths commented on #90
We host both of these layers at the University of Reading.  They are fine from where I am, but that's on campus and I know there have been some changes with IT recently.

Can you confirm whether or not this link works:
http://godiva.reading.ac.uk/geoserver/ReSC/wms?LAYERS=naturalearth&FORMAT=image%2Fpng&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&STYLES=&SRS=EPSG%3A4326&BBOX=-180,-90,180,90&WIDTH=102

[2017-06-01 10:17] frizwi commented on #90
No the link does not work. Hangs and then eventually times out.

________________________________
From: Guy Griffiths <notifications@github.com>
Sent: Thursday, June 1, 2017 6:38 PM
To: Reading-eScience-Centre/edal-java
Cc: Rizwi, Farhan (O&A, Hobart); Author
Subject: Re: [Reading-eScience-Centre/edal-java] Godiva3 base layers (#90)

We host both of these layers at the University of Reading. They

[2017-06-01 10:23] frizwi commented on #89
Not entirely sure on the conventions but here are the attributes of the vertical coordinate:

zc: Array of 64 bit Reals [k = 0..46]
units: m
positive: up
long_name: Z coordinate
axis: Z
coordinate_type: Z

i.e. the values are negative for depth in the ocean. Anyway, I guess my point is that the same exact file behaves differently in the Godiva2 vs Godiva3 or maybe more accurately, ncWMS vs ncWMS2.

[2017-06-01 10:47] guygriffiths commented on #89
Is it possible for you to make the file available for me to download?  If not, I can mock it up, but it's a lot easier with (at least a sample of) the real data.

[2017-06-01 11:24] guygriffiths commented on #90
OK, thanks.  I've asked our IT department to sort it out - if it doesn't get sorted within a week or so, I'll look into a workaround.

[2017-06-01 22:38] frizwi commented on #89
Sure, you should have access to this one:

http://data1.tpac.org.au/thredds/catalog/tascem/setas/catalog.html?dataset=tascem/setas/setas_simple_2017-04.nc

________________________________
From: Guy Griffiths <notifications@github.com>
Sent: Thursday, June 1, 2017 8:47 PM
To: Reading-eScience-Centre/edal-java
Cc: Rizwi, Farhan (O&A, Hobart); Author
Subject: Re: [Reading-eScience-Centre/edal-java]

[2017-06-04 23:37] frizwi opened #91 "Exception using Dynamic Service"
I'm getting the following exception with a netCDF file set up as a Dynamic Service.

Status Code: 500
Exception:
Stacktrace:

java.io.IOException: java.lang.NullPointerException
	at uk.ac.rdg.resc.edal.wms.WmsServlet.doGet(WmsServlet.java:330)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:104)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:45)
	at winstone.ServletConfigu

[2017-06-05 08:38] guygriffiths commented on #91
Duplicate of:
https://github.com/Reading-eScience-Centre/ncwms/issues/7

Apologies for this, it's due to recent changes in the cache configuration.  It's fixed in the development branch, and will make it into a 2.2.8 release in the next few days.

[2017-06-05 08:38] #91 closed

[2017-06-05 15:54] guygriffiths commented on #89
OK, I've made it so that coordinates are sorted in the correct way.  I'll probably do a 2.2.8 release in the next couple of days, which will include this change.

Another way to work around this is to provide your z axis values as positive depths (as opposed to negative heights)

[2017-06-05 21:47] frizwi commented on #91
Thanks. For now 2.2.6 is working for me

________________________________
From: Guy Griffiths <notifications@github.com>
Sent: Monday, June 5, 2017 6:38 PM
To: Reading-eScience-Centre/edal-java
Cc: Rizwi, Farhan (O&A, Hobart); Author
Subject: Re: [Reading-eScience-Centre/edal-java] Exception using Dynamic Service (#91)

Duplicate of:
Reading-eScience-Centre/ncwms#7<https://github.com/Reading-eScie

[2017-06-05 21:48] frizwi commented on #89
Thanks, I'll wait for the next release.

________________________________
From: Guy Griffiths <notifications@github.com>
Sent: Tuesday, June 6, 2017 1:54 AM
To: Reading-eScience-Centre/edal-java
Cc: Rizwi, Farhan (O&A, Hobart); Author
Subject: Re: [Reading-eScience-Centre/edal-java] Godiva3 default depth (#89)

OK, I've made it so that coordinates are sorted in the correct way. I'll probably do a

[2017-06-12 13:49] guygriffiths commented on #90
This is now fixed

[2017-06-12 13:49] #90 closed

[2017-06-12 13:49] guygriffiths commented on #89
Released

[2017-06-12 13:49] #89 closed

[2017-07-20 19:19] acrosby commented on #12
This is mentioned here as well, https://github.com/Reading-eScience-Centre/ncwms/issues/10

[2017-07-20 19:48] acrosby opened #93 "Support for raw NCML FMRC"
Does edal support raw ncml fmrcs or is it expected that people will be using TDS to do this? I have an fmrc aggregation that seems to be valid in Tools-ui, and ncwms2 reads the ncml with no errors, but the dataset appears to be time-disabled. I am only interested in the "best" series.

[2017-07-21 08:18] guygriffiths commented on #93
No, currently there's no support for NcML FMRCs.  I looked into it a long time ago, so the details are hazy, but I seem to recall that I was trying to use an NcML representation of an FMRC to perform automatic timeseries aggregation on files with overlapping time axes (again, only looking for the "best" time series).  I remember that it didn't work, but I don't remember why not.
Although by no mea

[2017-07-24 12:51] acrosby commented on #93
Hi @guygriffiths, here is the NCML that I am using. The data is proprietary, do you mind if i send some files to you separately?

[code]

[2017-07-24 12:54] guygriffiths commented on #93
@acrosby - Thanks for that.  I'm happy for you to send me some files separately.  If they're small enough to email (bearing in mind that just 2 or 3 files would be sufficient), I'm on guy.griffiths@the-iea.org, otherwise let me know how you want to go about it.

[2017-08-16 05:41] frizwi opened #94 "Varying number of edges/nodes per face"
The UGRID spec says to use "_FillValue" when the number of edges/nodes per face is less than the max. However, around line 862 in the "if (fillValue != null) {" block (in CdmGridDatasetFactory.java) after we've searched for the correct value of nEdgesThisFace, we still end up setting it to nEdges - which is the max. Surely this is a bug? Or am I missing something here?

In my case, the dimensions

[2017-08-16 09:00] guygriffiths commented on #94
Yep, that looks like a bug, I've fixed it in the develop branch.

`face_dimension` and `edge_dimension` are not supported.  They weren't part of the UGRID conventions when I implemented this.

[2017-08-16 09:59] frizwi commented on #94
Okay, great thanks.

Cheers,

-Farhan

________________________________
From: Guy Griffiths <notifications@github.com>
Sent: Wednesday, August 16, 2017 7:00 PM
To: Reading-eScience-Centre/edal-java
Cc: Rizwi, Farhan (O&A, Hobart); Author
Subject: Re: [Reading-eScience-Centre/edal-java] Varying number of edges/nodes per face (#94)

Yep, that looks like a bug, I've fixed it in the develop branch.

f

[2017-08-16 22:53] frizwi commented on #94
Also needs to be fixed around line 990

[2017-08-21 09:03] guygriffiths commented on #94
Thanks, done

[2017-08-29 00:37] drf5n opened #95 "NCWMS in UGRID unstructured grid with start_index=1"
I don't have a public-facing TDS endpoint for my data, but I was using TDS5.0.0 (http://www.unidata.ucar.edu/software/thredds/v5.0/tds/TDS.html) with the built-in WMS and Godiva3, and the WMS did not seem to recognize the start_index=1 attribute* on the connectivity matrix, and slowly produced a scrambled graphic.  I built a zero-based connectivity array with NCO and aggregated it with NCML and ad

[2017-08-29 00:55] drf5n commented on #19
Is this the stuff in  https://github.com/Reading-eScience-Centre/edal-java/blob/master/godiva/src/main/java/uk/ac/rdg/resc/godiva/server/ConfigServlet.java ?

[2017-08-29 14:35] drf5n opened #96 "Configuration of ncWMS within TDS?"
The documentation at https://reading-escience-centre.gitbooks.io/ncwms-user-guide/content/03-config.html suggests editing the configWMS.xml file or preferably using the .../ncWMS2/admin web interface.  However the web interface does not appear to be accessible at the documented location.  I tried a few locations, but none seemed to work.

* http://localhost:8080/ncWMS2/admin
* http://localhost:808

[2017-08-29 14:42] guygriffiths commented on #95
ncWMS supports the `start_index` attribute, and has done since UGRID support was added.  However, there is at least one known bug (https://github.com/Reading-eScience-Centre/edal-java/issues/84) which can cause scrambled images.  Could this be the issue?

[2017-08-29 14:48] guygriffiths commented on #19
Yep, that servlet basically takes a `.properties` file and outputs them as JSON which Godiva3 may interpret.  Currently the only options supported by Godiva3 are `mapHeight`, `mapWidth`, and `proxy`.

[2017-08-29 14:49] guygriffiths commented on #96
The documentation you reference is for ncWMS, not TDS.  As far as I'm aware, there is no web interface for configuring WMS within TDS.

TDS/WMS documentation is available here:
https://www.unidata.ucar.edu/software/thredds/v4.6/tds/reference/WMS.html

[2017-08-29 14:59] drf5n commented on #96
Thanks.  That answers my question.

On looking into my actual TDS5 wmsConfig.xml file, I notice it points to http://www.met.reading.ac.uk/resc/home/trac/myocean-tools/wiki/WmsDetailedConfiguration for more info, but fixing that broken link would be a TDS issue.

[2017-08-30 20:12] drf5n commented on #95
I don't think so. not sure.  My US-east coast domain does have areas/islands/bays within land masses, but it does not cross the date line.

I don't think so.  After swapping the zero-based array in and back out, and adding lots of memory and some additional processors to the virtual machine this was running on, I cannot duplicate the error.  I recommend closing.

[2017-09-05 21:53] drf5n commented on #95
I still cant duplicate the error.  closing

[2017-09-05 21:53] #95 closed

[2017-09-26 14:07] acrosby commented on #93
@guygriffiths is this now taken care of in the releases of edal and ncwms?

https://github.com/Reading-eScience-Centre/edal-java/commit/73fccd85ea8f9ba05f5f1d97b79947c6647132b0

Thanks,
Alex

[2017-09-26 14:21] guygriffiths commented on #93
@acrosby - Yes, it should be.  I'll close the issue, but feel free to reopen it if it doesn't work for you (if you can?  If not, just ping me an email)

[2017-09-26 14:21] #93 closed

[2017-10-06 12:03] ghansham opened #97 "synchronized writeImage in PngFormat"
https://github.com/Reading-eScience-Centre/edal-java/blob/ed5a7803136037a38d05c2f791e3415e62702bf0/graphics/src/main/java/uk/ac/rdg/resc/edal/graphics/formats/PngFormat.java#L72

Why this method is synchronized while all the other classes (JpegFormat, GifFormat, etc) that are derived from SimpleFormat dont have this method as synchronized?
This may be a performance bottleneck. Another thing I noti

[2017-10-06 12:44] guygriffiths commented on #97
I'm not sure. @jonblower - can you recall why it was done this way?  I doubt it's likely to cause any bottlenecks - I/O is by far the biggest overhead, and streaming the image should be pretty quick - but I can't see a reason why it needs to be synchronized.

[2017-10-06 12:57] ghansham commented on #97
In JpegFormat and GifFormat  classes, these are not synch methods and tiles are getting served faster. Try seq-Heat color pallette once. Its relatively slower for this palette. I dont know why.

[2017-10-06 13:00] guygriffiths commented on #97
What sort of speed difference are you seeing?

[2017-10-06 13:00] jonblower commented on #97
I wrote that a long time ago so I can't quite remember. But I think that there was a reason - I seem to remember getting problems if the method is not synchronized. (When requesting multiple images at the same time the images would get corrupted.) I think that something in ImageIO.write() is not thread safe - maybe it creates a single ImageWriter object for PNGs, which is reused for all writes.

H

[2017-10-06 13:05] ghansham commented on #97
Atleast 3 times in writeImage call

On Oct 6, 2017 6:30 PM, "Guy Griffiths" <notifications@github.com> wrote:

[2017-10-06 13:20] guygriffiths commented on #97
Can you provide some numbers, and details of what you're comparing?

[2017-10-06 14:13] ghansham commented on #97
I am using latest edal/ncwms release. And deployed it in tomcat 8.5 20 with jdk 8. And  added a glob expression for 18 hdf5 files which have variables in mercator projection. Size of grids is 3200x3200. And I am using a plain openlayers2 client. I  added System.currentTimeMillis before and after on getMap function  in WmsServlet class to check time spent and found potentially the time duration var

[2017-10-06 14:15] guygriffiths commented on #97
OK, I'll look into it when I get time, but some quick internet search suggests that what @jonblower is saying is true - that too many unsynchronized requests will cause image artifacts.

[2017-10-06 14:25] ghansham commented on #97
My major concern is why it is taking a lot of time for some lut applied images and for some it is running quickly. And this is conclusion after running multiple times. I will have a look the way bufferedimage is being created.

[2017-10-06 15:07] jonblower commented on #97
The problem may not be in how the bufferedimage is created (which is the same for all formats) but how it is encoded and pushed to the OutputStream. I have a feeling (which may be wrong or out of date) that the PNG encoder writes temporary files to disk, which might explain the lack of thread safety and the poor/variable performance.

I wonder how hard it would be to write a new, thread-safe PNG e

[2017-10-06 15:22] guygriffiths commented on #97
I'm pretty sure the PNG encoder doesn't write to disk.  I had a quick peek at the ImageIO code, and there's a cache option which seems to do what you suggest, but stepping through the code whilst running through ncWMS it decides (for whatever reason) that it shouldn't cache.  I'll try turning off synchronization and making a bunch of simultaneous requests and see what happens...

[2017-10-06 15:37] guygriffiths commented on #97
Hmm, it doesn't seem to cause any issues.  I made 200 slightly different requests in quick succession, and all of the images came back fine.  Perhaps it's been fixed since it was implemented?  There's a discussion of it here: https://stackoverflow.com/questions/26297491/imageio-thread-safety where the answer with 4 votes says it's threadsafe and the one with 3 votes says it's not...

[2017-10-06 16:17] ghansham commented on #97
I agree with Guy. But try different palettes with caching on and check do you have similar observations.

[2017-10-11 14:53] guygriffiths commented on #97
So after trying even more simultaneous requests (800) and seeing no PNG artifacts, I think it's fairly safe to assume that the PNG encoder doesn't need synchronization any more.

As for the different palettes taking significantly longer to render, that's entirely down to the `ImageIO.write()` method - there's very little difference between different palettes with a JPEG output, but a noticeable ch

[2017-10-11 15:00] jonblower commented on #97
I wonder where the bottleneck is with PNG - has anyone done any profiling? Sounds like something that might be worth optimising if the problem is significant.

[2017-10-11 15:14] ghansham commented on #97
I have found all the palettes performance improving after removing
synchronized..

On Oct 11, 2017 8:30 PM, "Jon Blower" <notifications@github.com> wrote:

[2017-11-01 15:42] guygriffiths opened #98 "Wrapping with web mercator (and similar) CRSes"
We can have coordinate reference systems which are not defined in terms of lat-long values, but which still need to wrap at the date line.
These are not used widely in ncWMS at the moment, but I spotted the issue when plotting wrapped trajectory data in web mercator CRS.
Probably needs to be implemented in the appropriate axis implementations, which currently assume that wrapping is synonymous wit

[2017-11-01 15:43] #96 closed

[2017-11-01 15:44] #97 closed

[2017-11-01 15:45] #94 closed

[2017-11-01 15:45] #69 closed

[2017-11-01 15:45] #19 closed

[2017-11-01 16:42] ghansham commented on #97
Hi..

So synchronized keyword  will stay ultimately.

Ghansham

On Nov 1, 2017 21:14, "Guy Griffiths" <notifications@github.com> wrote:

[2017-11-01 17:28] guygriffiths commented on #97
No, it's been removed the develop branch. The next release won't have it.

[2017-11-02 10:26] jonblower commented on #98
Yes, this is important but also a tricky one. Strictly speaking, in a projected CRS (like Web Mercator) there is no notion of wrapping; it only really appears in a spherical/ellipsoidal CRS. Any apparent wrapping is usually done in the client. But there is definitely a practical issue here - perhaps we could enumerate some possible solutions (e.g. should the logic exist on the client side or the s

[2017-11-06 17:28] marceloandrioni opened #99 ""Export to PNG" ignores base layer definition"
Hello, I think I found a small problem with the "Export to PNG" option on Godiva3. Despite baseLayers being a parameter in calling the Screenshot function with the "Export to PNG" link in Godiva3, the resulting image seems to default always to the same base layer:

link1 with baseLayers=bluemarble: [http://godiva.rdg.ac.uk//ncWMS2/screenshots/createScreenshot?server=http://godiva.rdg.ac.uk/ncWMS2/

[2017-11-08 10:06] guygriffiths commented on #99
There was definitely a reason why it was done like this - the sensible default would have been to use whichever base layer was active, rather than just the blue marble one - but I can't recall what it was, and it may not be valid any more.  I'll have a go at implementing it properly and see if anything comes up.

[2017-11-14 10:27] guygriffiths commented on #99
That's all fixed now, and I've done a 2.1.12 release of ncWMS

[2017-11-14 10:27] #99 closed

[2017-11-16 15:26] marceloandrioni commented on #99
Hi, thanks for the updated version. Now the user baselayer is automatically selected in the "Export to PNG". The only minor problem is that the overlay layers are not show. Do I need to use a special layer name in godiva3.properties or something like that? Below a screenshot for Godiva3.html with the base and overlay layers and an image from "Export to PNG" showing only the baselayer.
![screenshot

[2017-11-17 13:00] guygriffiths commented on #99
So, in addition to a typo in the tag name (it should have been 2.2.12, not 2.1.12), the front-end had failed to compile properly, hence the continuing issues.  I have updated the release to have the correct version and have rebuilt it, so this should all work now.

[2017-11-17 13:43] marceloandrioni commented on #99
Ok, thanks. I will try the new ncWMS 2.2.12 war when available.

[2017-11-17 14:05] marceloandrioni commented on #99
Everything is working now, base layer and overlay are show in the screenshot. Thanks.
![screenshot_withoverlays](https://user-images.githubusercontent.com/13545615/32951013-8b88b9de-cb8f-11e7-90f1-1aa5322bf5be.png)

[2017-11-21 15:55] marceloandrioni opened #100 "Show datasets aggregated by institution/variable"
Hello again, in ncWMS/Godiva2 it was possible to show different datasets inside a single folder using the menu keyword (http://localhost:8080/ncWMS/godiva2.html?menu=mydatasets) and creating a file webapps/ncWMS/WEB-INF/jsp/mydatasetsMenu.jsp selecting how the datasets should be aggregated. My question is if it is possible to do the same in ncWMS2? On my part I thought this was very usefull mainly

[2017-11-21 16:02] guygriffiths commented on #100
Currently this is not possible in ncWMS2.  I don't have a great deal of time to work on implementing new features at the moment, and it's not a trivial task to do.  However, I've tagged it as a possible Enhancement, and I'll bear it in mind if I get further time to work on extra features (or if I can find another project using ncWMS2 where this would be a useful feature)

[2017-11-21 16:04] marceloandrioni commented on #100
Ok, thanks, glad to know it is a possibility in the future.

[2017-11-21 17:48] marceloandrioni opened #101 "How to use trajectory features?"
Some releases mention improvements to trajectory features plotting but I couldn't find a description of the format of the netcdf file I should use. Do I need specific names for the dimensions/variables? Should I use [http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#discrete-sampling-geometries](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6

[2017-11-22 09:38] guygriffiths commented on #101
Currently there is no planned support for reading trajectory features from NetCDF.  I implemented them in EDAL for use in an upcoming project (which interfaces with a 3rd party database to read features), and they will work in ncWMS2 if a suitable [DatasetFactory](https://github.com/Reading-eScience-Centre/edal-java/blob/master/common/src/main/java/uk/ac/rdg/resc/edal/dataset/DatasetFactory.java)

[2017-11-22 13:49] marceloandrioni commented on #101
Ok, thanks for the info. I had seen the reference for trajectory features in the news for versions 1.2.12 and 1.2.11 and got confused. I will be closing this issue then. Thank you.

[2017-11-22 14:06] guygriffiths commented on #101
No worries.  I'm going to leave it open as an enhancement, since it has the link to the CF conventions on how to implement trajectories in NetCDF  That way if we do get time, we can implement it.

[2017-11-29 17:06] marceloandrioni opened #102 "Allowing time and elevation specification when using users layers"
Following Reading-eScience-Centre/ncwms#17 and EDAL v1.2.11 it is now possible to add an user layer as base or overlay in godiva3.properties file ([https://reading-escience-centre.gitbooks.io/ncwms-user-guide/content/03-config.html#server](url)). What I would like to suggest is to also allow the possibility of passing the parameters TIME and ELEVATION when requesting the layer. Standard WMS server

[2017-12-16 14:20] lesserwhirls opened #103 "Is it possible for CdmGridDatasetFactory to be subclassable again?"
Last year, @guygriffiths made`CdmGridDatasetFactory` subclassable be removing the `final` declaration (see [here](https://github.com/Reading-eScience-Centre/edal-java/commit/dd3bff90a84c178803438180dc23a5515b88c9e5#diff-e059ed3454065365fd2b8a1eb462ec54)). In the TDS, we [subclass](https://github.com/Unidata/thredds/blob/5.0.0/tds/src/main/java/thredds/server/wms/TdsWmsDatasetFactory.java) it to ha

[2018-01-02 10:32] guygriffiths commented on #103
Not sure why that got reverted, I've just done that in the develop branch.

[2018-01-02 12:51] guygriffiths commented on #102
This is a little tricky to implement, and will require a fair bit of code restructuring (especially for the base layers, which are really not designed to be anything more than static backgrounds).  I'll leave the issue open for now and look at implementing it if I get a big chunk of time available to work on it.

[2018-01-02 13:20] marceloandrioni commented on #102
Okay, thanks, I am glad to know it will be considered for future releases.

[2018-01-17 12:52] marceloandrioni opened #104 "Using Lagrangian Transport over Streamlines to represent current/wind"
Some websites like
[https://www.windy.com](url)
[https://earth.nullschool.net](url)
[http://viewer.coaps.fsu.edu/GlobalHycom/mapviewer#](url)
use lagrangian transport of simulated particles over streamlines to represent current and wind. In my opinion this greatly improves the representation of eddies, meanders, etc when compared to simple vectors. I was wondering if is possible to add this functi

[2018-01-17 14:43] guygriffiths commented on #104
I've considered this before, but I think it extends the scope of ncWMS quite a lot.  Providing animated WMS layers, whilst not against the spec, would certainly be unexpected behaviour (and would require that the layer was requested in GIF format).  I'm happy to leave it open in case someone fancies implementing it, but it's quite low priority and I doubt I'll find time to do it in the near future

[2018-01-17 15:37] marceloandrioni commented on #104
Ok, thank you for letting me know. Unfortunately, as my knowledge of Java is basically null, I won't be stepping up to the task, but maybe someone will contrib in the future as you said. Thanks.

[2018-01-18 16:16] lesserwhirls commented on #103
Thanks @guygriffiths!

[2018-01-18 16:16] #103 closed

[2018-01-30 16:31] Siddeshi opened #105 "Can I get just vertical section plot png instead with axis ?"
Hi there,

I need vertical section png file without chart (without axis) to render it directly as an image. Can you please help me how can I achieve in **thredds** as it is generating chart for me?

This is the url i'm trying in my local:

**`http://localhost:8080/thredds/wms/testAll/ModelTemperature.nc?REQUEST=GetVerticalSection&LAYER=TEMP&CRS=CRS:84&ELEVATION=-145&TIME=2009-12-29T12:00:00.0000Z&

[2018-01-30 16:37] guygriffiths commented on #105
Hi, thanks for getting in touch.  Unfortunately what you want want to do is not currently possible in THREDDS.  The charting methods of THREDDS are really designed for people who want a full chart, rather than a view onto the data.

I think that your best option would be to grab a subset of the data via the data access methods of THREDDS, that way you can plot the chart in whichever package you're

[2018-02-01 04:43] #105 closed

[2018-02-16 10:29] mtsales opened #106 "Performance issues with large number of datasets"
I have been using ncWMS in several occasions and I'm very pleased with it. Thanks for the great work!
Now I have a project where we have 12 000 datasets and I'm facing some issues:
 1 - The loading time after a server restart takes more than 1 hour
 2 - Getting the image of a dataset is too slow (even a small dataset)

I have looked at the dynamic datasets but could not figure out how it works so

[2018-02-16 11:06] guygriffiths commented on #106
It would certainly be possible to persist the catalogue data between restarts, but I don't think it's a trivial thing to do.  I'd certainly consider it if we can't find an alternative solution, although I don't have a great deal of time for ncWMS development at the moment.

The slowness of getting an image is interesting and I don't know what could be causing it.  How large are your datasets?  I'd

[2018-02-16 11:45] mtsales commented on #106
Thanks for your prompt reply.
The datasets vary in size. From a few KB to some large ones with 60-600 MB. But getting an image even for the small ones takes long time, The total size of the setup makes it impossible to share.

I'll give it another try with the dynamic datasets and see if that solves the problem and we can find a way of keeping the knowledge of the data structure.

Besides DATASET

[2018-02-16 12:12] guygriffiths commented on #106
Apologies, `DATASET` is only required for specifying it through Godiva, but not for general WMS requests.  Instead you just specify the layer as `dataset/variable`, e.g.:
`LAYERS=local/01-xyzt/synthetic_rectilinear_data.nc/temperature`.

However, `DATASET` is a convenient way to specify the dynamic dataset, in which case `LAYERS` just needs to contain the variable ID within that dataset.  So for e

[2018-02-19 09:26] mtsales commented on #106
Hi

I tried again the dynamic datasets and cannot make it work.

I have a file called CRU_1901.nc located at C:\Work\Data\FD

I set the Alias for dynamic service as local, Location as
C:\Work\Data\FD and the regex as .*

Calling GetMap with LAYERS=local%2FCRU_1901.nc%2Fprecipitation does not
work (the file contains a variable called precipitation)

Calling http://localhost:8080/ncWMS2/Godiva3.html

[2018-02-19 09:32] guygriffiths commented on #106
I haven't tried it on Windows, but the first thing I'd try is changing the backslashes to slashes.  Let me know if that doesn't work and I'll try and get a Windows setup to see what I can do about debugging it.

[2018-02-19 10:25] mtsales commented on #106
I made it work. My mistake, sorry. There was a missing colon after C when specifying the location

I'll test this and let you know if we can use it. Thanks for all the help so far

[2018-02-22 10:28] mtsales commented on #106
It seems we can make it work using dynamic datasets but will developing a proxy that can convert from layer names (the traditional way) to folder/file structure supported by dynamic datasets.
Implementing the improvements to support large number of normal datasets would still be relevant in the future.
Thanks a lot for your help and support

[2018-03-06 14:00] David-Gil opened #107 "We need legend labels with all the thresholds"
We create weather probabilistic products with thresholds 0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% and 100%.

I have created a custom style with the `Categorize` symbolizer (taken from your [answer](https://github.com/Reading-eScience-Centre/ncwms/issues/21)) that takes into account those thresholds in the map.

The problem comes with the generated legend labels: it doesn't show all the thre

[2018-03-20 11:26] guygriffiths commented on #107
This shouldn't be too tricky to do, although I don't have a great deal of time to work on EDAL/ncWMS at the moment.  What are you using which doesn't show the values?  Godiva3, or a GetLegendGraphic call?

[2018-03-21 11:28] mtsales commented on #106
My datasets are updated frequently but that is not reflected on the dynamic datasets resulting in an error when trying to get data added after the first access to the file. Is there a way to update the metadata information for dynamic datasets without restarting the webapp ?

[2018-03-21 11:29] mtsales opened #109 "Wrong rendering of data having NaN values"
I have datasets containing NaN values. These NaN values are rendered as a small value (1?) instead of being ignored

[2018-03-21 11:55] guygriffiths commented on #109
OK, can you provide some data that you're seeing this issue with?

[2018-03-21 12:07] mtsales commented on #109
Here it is

[cru_TempMonthly_tmp_2015.zip](https://github.com/Reading-eScience-Centre/edal-java/files/1833130/cru_TempMonthly_tmp_2015.zip)

[2018-03-21 12:33] guygriffiths commented on #109
This looks like a bug in the NetCDF libraries we are using.  I will report it to them and integrate their new versions once they fix it.

For further information, the data you supplied does not contain any NaN values.  It contains integer values which use 99999 as a fill value, and which are scaled by a factor of 1e-5.  The problem occurs when the CDM method tries to check whether the value is mis

[2018-03-21 12:47] mtsales commented on #109
Thanks! Much appreciated. I was checking the data in Panoply and there it shows as NaN. Sorry for the misinformation.

[2018-03-21 13:20] guygriffiths commented on #109
No problem, missing data tends to appear as NaNs once it has been processed, so it's a natural assumption to make.  The extra information was primarily for benefit of the Unidata developers, since I've given them a link to this bug report so they have access to some test data.

[2018-03-21 15:54] David-Gil commented on #107
I use THREDDS.

[2018-03-21 15:57] guygriffiths commented on #107
What client are you using - i.e. what is generating the legend?  If you're not sure, can you attach a screenshot?

[2018-03-22 18:26] geojs commented on #107
With a forked ncWMS 1.2, I did this kind of legend (wave height) with a GetLegendGraphic call:
![wms](https://user-images.githubusercontent.com/5621630/37790234-3967952e-2e06-11e8-9867-77ee213eed47.png)

[2018-03-26 10:14] David-Gil commented on #107
I'm sorry I haven't answered until now. I have been very busy with other projects.

We get the legend with the GetLegendGraphic call. This is what I get now:

![legend](https://user-images.githubusercontent.com/1552663/37900356-4e0e85c4-30ee-11e8-8468-d8ec9171ca39.png)

@geojs  has attained just what we need! The problem is that I don't know when it will be available for THREDDS (or if it will be

[2018-03-28 15:19] guygriffiths commented on #106
@mtsales - How are the datasets added to?  The problem is that dynamic datasets are cached, and I have implemented some code which allows you to configure this cache and request that it is emptied, but there will still be issues if you are defining the dataset by a glob expression and adding files to it.

[2018-03-28 19:38] acrosby opened #110 "Is there support for NetCDF4 Groups?"
Would love to be able to visualize netcdf4 files that have groups in them (effectively independent datasets all together in a single file) in ncWMS2. Is this possible now? I couldn't find any documentation around it, and a test file I have doesn't seem to work (no errors), but nothing listed in Godiva, and the links on the "Front Page" do return errors that specify that the layer does not exist. S

[2018-04-03 11:27] mtsales commented on #106
The dynamic datasets are defined with "local" alias pointing to the top most folder containing data and using  .* regex expression.
Due to case sensitive issues, when requesting for datasets or layers, we use a glob expression to match cases like: local/[dD][aA][tT][aA]/[pP][eE][rR][sS][iI][aA][nN].[nN][cC]

[2018-04-05 16:38] lesserwhirls commented on #109
Fixed in `5.0.0-beta2` :-) Thanks for the report!

[2018-04-10 09:10] guygriffiths commented on #106
I think that the code should be able to handle glob expressions of that level of complexity, but I haven't actually tested it - does it work if you use the actual filename?

[2018-04-10 10:02] guygriffiths commented on #109
Thanks @lesserwhirls, that's been updated in `develop` and is all working nicely with the test dataset.

[2018-04-10 10:30] guygriffiths commented on #106
I think that should be fine - there would be a potential issue if you were using a glob expression to aggregate multiple files, but using it for a single file won't interfere with emptying the dynamic dataset cache.

[2018-04-11 06:47] mtsales commented on #106
Great. How can the cache for a dataset be emptied?

[2018-04-11 08:47] guygriffiths commented on #106
In the admin interface, just under the dynamic datasets configuration, there is a box to configure cache settings for dynamic datasets.  One of the options is a checkbox labelled "Empty cache".  You'd need to check it and click the save button.

Note that this code is implemented in the `develop` branch.  It'll be in the next release, or you can checkout `develop` and build from source.

[2018-04-11 09:16] mtsales commented on #106
thanks.. I'll wait for next release. Is the metadata for a dataset kept int the cache until the timestamp of a file changes and the metadata re-read when a file is newer than the one cached? Or do we have always to manually empty the cache?

[2018-04-11 09:47] guygriffiths commented on #106
It will need to be manually emptied.  If you are updating datasets very regularly, you might be better just switching it off.

[2018-04-17 13:36] guygriffiths commented on #107
@David-Gil - I've just implemented this is the `develop` branch.  Any colour schemes which define specific points will now have them labelled in the image returned from GetLegendGraphic.  This will make it into the next release.

[2018-04-17 14:49] geojs commented on #107
@guygriffiths - thanks, I changed in /ncWMS2/WEB-INF/lib/ the edal-graphics-1.4.0.jar with edal-graphics-1.4.1-SNAPSHOT.jar from ```develop``` branch.

The result with an sld using ColorMap and Categorize:
?FORMAT=image%2Fpng&TRANSPARENT=TRUE&STYLE=hs&LAYERS=hs%2FHs&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetLegendGraphic
![getlegendgraphic](https://user-images.githubusercontent.com/5621630/38876810-843

[2018-04-18 10:26] David-Gil commented on #107
Thank you, @guygriffiths !!

[2018-04-27 03:37] mtsales commented on #106
any tentative date for the next release?

[2018-04-27 10:18] guygriffiths commented on #106
Not currently.  I'm working on some changes to EDAL for a separate project, and I'll do a release for that at some point in the next month or so.

[2018-05-04 08:14] mtsales commented on #106
Thanks for the info. I'll wait for that. I have noticed that sometimes, when using dynamic datasets, ncWMS complains about missing file (see errors below)
The files exist and are valid (I can load them using normal datasets). This is random as after waiting some time the datasets that gave problems will work correctly . Any clue of what might be happening?

2018-05-04 09:02:53 WARN  WmsServlet:274

[2018-05-09 08:38] guygriffiths commented on #106
I'll have a look into it and see if I can replicate it.  What is `local` configured as (specifically the location)?

[2018-05-14 11:27] mtsales commented on #106
local corresponds to E:\FloodDraughtPortal on a windows machine that contains hierarchy of subfolders with large number of datasets. The problems seems related to using glob expression as I could not replicate the problem when using the exact file path

[2018-05-15 13:30] guygriffiths commented on #106
The fact that's it's warning you about using a relative path suggests that it's failing to detect you're referring to a dynamic dataset, but I haven't been able to reproduce this problem.  I'll be doing a new release of EDAL/ncWMS later today.  Assuming you see the same issue with the new version, could you please post the whole section of the logs when the error occurs (not just the stack trace p

[2018-05-15 15:07] tomLandry commented on #26
Hello everyone. We are experimenting this very same error right now, with NcWMS v2.0.4. We will troubleshoot our datasets, but any guidance is appreciated!

[2018-05-15 15:29] guygriffiths commented on #26
@tomLandry - Is this when aggregating multiple files into a single dataset?  Do you have any data you could share so that I can reproduce the error?

[2018-05-15 15:38] tomLandry commented on #26
Thanks for the lightning quick answer! We are simultaneously trying to upgrade of NcWMS version from 2.02 to latest, and massaging data. I'll see if we can send you a sample that is breaking the thing.

[2018-05-16 12:02] mtsales commented on #106
I tested the latest release and the problem persists.

Please note I can no longer reproduce the error :
2018-05-04 09:02:53 WARN WmsServlet:2742 - Wms Exception caught: "Requested menu for dataset: local/Volta/1b_TRMM/[tT][rR][mM][mM]_2018.[nN][cC] which does not exist on this server" from:uk.ac.rdg.resc.edal.wms.WmsServlet:1044

2018-05-04 09:02:53 WARN CdmUtils:439 - Using relative path for a d

[2018-06-13 05:10] mtsales commented on #106
Any news on this? Is more information needed?

[2018-06-13 12:11] guygriffiths commented on #106
Sorry, I haven't had time to work on this, I'm currently very busy with a number of other projects.  It's still on my todo list, but ncWMS is fairly low priority at the moment.

[2018-10-25 13:37] drf5n opened #113 "Natural Earth basemap isn't working in Godiva3"
Godiva3 in TDS 5.0.0-alpha3 isn't displaying the default base layer, showing a background of pink tiles with broken link icons.

I tried the test in https://github.com/Reading-eScience-Centre/edal-java/issues/90#issuecomment-305428381 , that is, whether the http://godiva.reading.ac.uk/geoserver/ReSC/wms?LAYERS=naturalearth&FORMAT=image%2Fpng&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&STYLES=&SRS=EPS

[2018-10-25 13:49] guygriffiths commented on #113
There have been quite a lot of IT issues at the university over the last couple of days, so that server is not working at the moment.  Hopefully it'll be back up again soon.  In the meantime, the workaround is to pick a different background map.

[2018-10-25 14:47] drf5n commented on #113
From https://reading-escience-centre.gitbooks.io/ncwms-user-guide/content/03-config.html#server  it suggests you choose different background maps in a godiva3.properties file.

Is this something that should be accessible in a TDS install somewhere?  Or is that up to the TDS folks?

[2018-10-25 14:56] guygriffiths commented on #113
I can't recall how Godiva3 is integrated into TDS.  But you don't necessarily need to add any more background maps, just choose a different one in the layer selector.  The first two, and all of the polar stereographic ones are hosted at Reading, all of the others are not and were all working when I checked earlier.

[2018-10-25 15:14] drf5n commented on #113
Ah -- I see, in the upper RH corner of the Godiva interface is a '+' sign that pops up menu of base maps.  Thanks.

[2018-10-29 03:19] frizwi commented on #90
Still not working

On 25/10/18 6:24 am, David Forrest wrote:

[2019-01-16 05:08] docgregt commented on #26
Hi, I just downloaded the latest ncWMS server (2.4.1)...just ran it with java to test it. All ECMWF files I try get this error (java.lang.IllegalArgumentException: Coordinate values must increase or decrease monotonically). These files load up into geoserver with no problem. However, geoserver has a bug in rendering wind vectors or barbs at global scale with wrapx so I cant use it.
Is there someth

[2019-01-16 05:26] docgregt opened #114 "ECMWF error - Coordinate values must increase or decrease monotonically"
Hi, I just downloaded the latest ncWMS server (2.4.1)...just ran it with java to test it. All ECMWF files I try get this error (java.lang.IllegalArgumentException: Coordinate values must increase or decrease monotonically). These files load up into geoserver with no problem. However, geoserver has a bug in rendering wind vectors or barbs at global scale with wrapx so I cant use it.
Is there someth

[2019-01-16 10:00] guygriffiths commented on #114
@docgregt - Yes, that could do it, if the axis values went (for example) `...178, 179, 180, -179, -178...`.  CF conventions define that coordinate variables must be monotonic (http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#terminology).  If you can link to the data I can investigate and check what's happening.

[2019-01-17 00:48] docgregt commented on #114
@guygriffiths Can you reach it at this site?
https://i4insightcom-my.sharepoint.com/:f:/g/personal/greg_turner_i4-insight_com/EhuYWw9e9tFNqTFOzkH9M0sB5hYHI09zQVdoJ2tvjEhgaA?e=HcSjIt

The augdump.txt file is an ncdump -c of the file. I did not see anything that was incorrect there.

[2019-01-17 07:24] docgregt opened #115 "Performance tuning"
I am not sure where to ask this question. I searched quite a while for info, but could not find any. Rendering arrows or barbs can take a few seconds on my 4 core 16GB RAM VM. I only have 10 datasets loaded and they are at .75x.75 degree resolution. What kind of hardware will speed it up? Or is there some Java setting to speed it up? What affects the performance the most?

Greg

[2019-01-17 10:11] guygriffiths commented on #114
Yes, I've downloaded that.  The problem is that the time axis is non-monotonic.  It goes from 2018-08-01T00:00:00.000Z up to 2018-08-31T18:00:00.000Z in 6 hour increments, back down to 2018-08-01T03:00:00.000Z, and then up to 2018-09-01T00:00:00.000Z n 6 hour increments.

You can see the transition at line 157 of `augdump.txt`:
[code]

[2019-01-17 16:31] docgregt commented on #115
Hard disk. But IO is measured via IOPS. So I will try increasing IOPS.

[2019-01-19 00:43] docgregt commented on #115
I doubled everything (cpu/ram, iops) and only got marginal speedup. There must be some caching to improve things. I set caching at 4GB. Note that our clients do not like tiling so I am using the single image capability of OpenLayers. It all works great but I would like to speed it up.

So fyi if mag/dir are precomputed and then just used in a group and the arrow/barb is just rotated by SLD then it

[2019-01-19 00:44] docgregt commented on #114
No sure what the issue is. That file has forecast in it so maybe it is mixing forecast times in somehow. This is standard file from ECMWF and I have no control over how they add the data in. It is CF1.6 compliant.

[2019-01-19 00:44] #114 closed

[2019-01-22 10:47] guygriffiths commented on #115
Yes, single images will almost always have worse performance than tiles, because of the way the cache works (we cache the data read on each request).  If a different area is requested each time, as is the case with single images, the cache rarely gets used.

If you precompute mag/dir (in the NetCDF files), it will speed things up (once I implement that), but if you are plotting both magnitude and

[2019-01-22 10:58] guygriffiths commented on #114
Can you tell me more about where you got the file from?  It might be worth contacting ECMWF about it, because `time` is certainly a coordinate variable, and the CF conventions explicitly state that a coordinate variable "is defined as a numeric data type with values that are ordered monotonically".

[2019-01-25 06:08] docgregt commented on #114
https://apps.ecmwf.int/datasets/data/interim-full-daily/levtype=sfc/?date_year_month=201808&time=00:00:00,06:00:00,12:00:00,18:00:00&step=0,3,6,9,12&param=165.128,166.128,230.140,34.128,229.140,134.128

You have to have an account there but the accounts are free. This issue only seems to happen on datasets with forecasts in them. Their datasets annotate they are following CF 1.6.

[2019-01-25 09:49] guygriffiths commented on #114
Thanks, I've sent them a message.  We work with ECMWF data quite a lot in other projects and I suspect they won't be willing to change their data, but they may be able to remove the `CF-1.6` flag to try and prevent such issues in future.

[2019-01-25 10:40] guygriffiths commented on #115
OK, that's an interesting one.  It's obviously sensible to plot wave height and direction together, but I don't think they're fundamentally related in the same way that speed and direction are.

I've got a solution in mind which could work, but it will need some finessing.  Let me see what I can do for a quick fix and you could test it to see whether it solves your issue.

[2019-01-30 21:39] docgregt commented on #115
Were you able to download the file and see the data?

[2019-01-31 09:38] guygriffiths commented on #115
Yes, thanks.  I managed to get them grouped manually, and behaving properly, but there are some complications trying to pick up the grouping automatically.  Unfortunately I now have a couple of deadlines coming up so won't be able to work on it for a week or two.

[2019-01-31 20:55] docgregt commented on #115
Very cool. I am wondering how hard is it for there to be a menu on the ingestion side to allow the end user to select properties to be grouped rather than having the code detect it automatically. Or it is simple enough to add a new metadata field to the netcdf file called GroupWith and then some name as the value. Since this is a quick fix the second approach might be easiest for you.

[2019-02-06 09:46] guygriffiths commented on #115
The approach I was considering was a way to define a style such that if a dataset could create a new grouping to support it, it would.  However, your GroupWith approach could be a good one.  We did something similar a few years back with NetCDF-U, which was a way of defining relations between quantities and their uncertainties.  I'll look into it when I get a little more time.

[2019-02-06 09:49] guygriffiths commented on #114
FYI, I've spoken to ECMWF and they suggested that if you retrieve the analyses and the forecasts separately then this issue won't occur.
However, the person I spoke to agreed that the file should have a monotonic time coordinate and will raise the issue with their developers.

[2019-02-06 16:56] docgregt commented on #114
Ok. Thanks!

Gregory Turner
Chief Architect
________________________________________
i4 Insight, Inc.

cell: +1.720.335.1744
greg.turner@i4-insight.com<mailto:greg.turner@i4-insight.com>

A member of the Lloyd’s Register Group

From: Guy Griffiths <notifications@github.com>
Sent: Wednesday, February 6, 2019 2:49 AM
To: Reading-eScience-Centre/edal-java <edal-java@noreply.github.com>
Cc: Greg Turne

[2019-02-15 08:25] docgregt commented on #115
Hi, I am read to it when you get a chance to gen something. I now have two different data sets with the same issue.  My new data is ocean current data that has a direction and magnitude.

[2019-02-15 15:24] guygriffiths commented on #115
Apologies, I don't have much time to work on ncWMS at the moment.  I did manage to grab a couple of hours this afternoon to try something.  You can download the development version from http://www.personal.rdg.ac.uk/~qx901922/ncWMS2.war

Basically to get it to work, you need a few different attributes on your variables.  You will need the `logical_group` attribute on all variables you want to be p

[2019-03-12 20:01] docgregt commented on #115
@guygriffiths , Thank you for spending time on this. I am trying to test it out, but I seem to have broken something. Regardless of the ncWMS version I use and I get the following error:
2019-03-12 19:38:16 ERROR DatasetConfig:232 - uk.ac.rdg.resc.edal.exceptions.EdalException loading metadata for dataset test1
uk.ac.rdg.resc.edal.exceptions.EdalException: Problem creating dataset test1 at /data/g

[2019-03-13 00:49] docgregt commented on #115
Hi @guygriffiths , I do not know why I can't run on the ubuntu server, but I am able to run on my windows desktop using the windows linux support that now exists. So i made the updates you suggested for logical_group and every variable had a standard_name. I loaded the file into ncWMS ok, but no group names were displayed. Here is an ncdump of the file:
variables:
	double time(time) ;
		time:stand

[2019-03-13 09:48] guygriffiths commented on #115
Sorry, I forgot to mention that you will need to remove and re-add the dataset - just modifying it won't make a difference.

[2019-03-13 15:10] docgregt commented on #115
No Change. I removed it. Restarted ncwms and it still looks the same.
Maybe I am running what you sent me wrong. I took standalone jar and removed the embedded war file and put the war file you sent in the jar. Then I run that one.
Here is the menu:
![image](https://user-images.githubusercontent.com/43346207/54289902-a006d700-456f-11e9-886e-f8b97d85ea12.png)
The first 6 items should be 3 groups.
N

[2019-03-14 09:35] guygriffiths commented on #115
No, I tried to download it but the link had already expired.  If you can make it available again I'll try running it on my version.

[2019-03-14 15:27] docgregt commented on #115
https://i4insightcom-my.sharepoint.com/:u:/g/personal/greg_turner_i4-insight_com/EXs3RzAxsY5GnN7XHImaU4wBpyaou6cPj7_cIl58--5Dhg?e=yoBuM7

Gregory Turner
Chief Architect
________________________________________
i4 Insight, Inc.

cell: +1.720.335.1744
greg.turner@i4-insight.com<mailto:greg.turner@i4-insight.com>

A member of the Lloyd’s Register Group

From: Guy Griffiths <notifications@github.com>

[2019-03-15 04:48] docgregt commented on #115
@guygriffiths , Hi, I know you are busy, but I am running into another issue with the new version. I am unable to select any color palette other than the default one for temperature and 'mean sea level pressure'. Hopefully, I am doing something wrong that is simple. I get the following error when I choose another palette:
[Winstone 2019/03/15 04:43:40] - Untrapped Error in Servlet
java.lang.NoSuch

[2019-03-15 09:43] guygriffiths commented on #115
@docgregt - The file you supplied doesn't work with grouping, because you have tried to group multiple variables together with the same standard name (`currspd` and `currdir` are both declared to be `eastward_wind_velocity`), but that is unrelated to the errors you are seeing.

I suspect that they are caused by the way that you have replaced the `.war` file in the standalone version of ncWMS (alth

[2019-03-15 16:40] docgregt commented on #115
@guygriffiths  - I downloaded the latest jar and i fixed the .nc file and no success. The errors are still there and there still is no grouping. I uploaded the latest .nc file for your debugging.

https://i4insightcom-my.sharepoint.com/:u:/g/personal/greg_turner_i4-insight_com/EXRh-ND2IO9Ls3oi6j8vkIwB6RcPdPCxTU8yQXm-L3Hr2A?e=f19MKc

Here is dump of .nc file.
[code]

[2019-03-18 02:05] docgregt commented on #115
Hi Guy, I have tried everything I can think of to get it to work. I just don't know what to do. I really need your help with it.

Thanks,
Greg

[2019-03-20 23:27] docgregt opened #116 "How to make a new style recognized by a layer?"
I created a new style which is just a copy of vector_wind_barbs.xml and made some minor tweaks and then place it in the .styles folder and then restarted ncWMS server.
My sld file is called i4windbarbs.xml so in my WMS params I specified 'STYLES': 'i4windbarbs/default'
I also tried:
'STYLES': 'i4windbarbs'
I always get the error:
2019-03-20 16:05:47 WARN  WmsServlet:2639 - Wms Exception caught: "T

[2019-03-21 09:43] guygriffiths commented on #116
The `vector_wind_barbs.xml` style, is only compatible with a parent vector layer which contains 2 children - one representing magnitude, and one representing direction (this is what `$layerName-mag` and `$layerName-dir` represent.  These particular child properties are created when a vector field is automatically detected).  `winddir` sounds like it is a single directional field, and so will not b

[2019-03-21 15:21] docgregt commented on #116
I modified it like this:
<?xml version="1.0" encoding="ISO-8859-1"?>
<StyledLayerDescriptor version="1.1.0" xsi:schemaLocation="http://www.opengis.net/sld
StyledLayerDescriptor.xsd" xmlns="http://www.opengis.net/sld" xmlns:ogc="http://www.opengis.net/ogc"
xmlns:se="http://www.opengis.net/se" xmlns:xlink="http://www.w3.org/1999/xlink"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:resc

[2019-03-21 16:08] guygriffiths commented on #116
I have copied and pasted that into a file named `i4windbarbs.xml` in `~/.ncWMS2/.styles/`.  I then started ncWMS, and added the last data file you sent me as `hist`, and hit the URL:

http://localhost:8080/ncWMS2/wms?REQUEST=GetMap&VERSION=1.3.0&STYLES=i4windbarbs&CRS=CRS:84&WIDTH=1024&HEIGHT=512&FORMAT=image/png&TRANSPARENT=true&LAYERS=hist/winddir&BBOX=-180.0,-90,180.0,90

I got a global image o

[2019-03-21 16:24] docgregt commented on #116
Thanks for you time in checking it out. I have a couple questions:
1) Is this server is written in Java?
2) Is it self contained or does it depend on some global java libraries?
3) It seems to work differently on my windows than on linux so I am wondering if Java class path or different Java versions are affecting it?

[2019-03-21 16:34] guygriffiths commented on #116
1. It is written in Java, although technically it's a servlet and requires a servlet container to provide the server capabilities.  This is usually Apache Tomcat, but Winstone is used for the standalone version
2. It is mostly self-contained.  It requires the servlet container to provide certain standard classes, but all necessary libraries etc. are contained in the WAR file
3. That is a possibili

[2019-03-21 16:39] docgregt commented on #116
Also, I only have 2.4.1:
![image](https://user-images.githubusercontent.com/43346207/54768745-711edf80-4bc5-11e9-9fb3-8d8dd6f2dda0.png)

So it seems like you have the good stuff :)
Where can I get 2.4.2?

[2019-03-21 17:01] docgregt commented on #116
Ok. Ignore my last. The 2.4.2 Snapshot is the one you sent me. I am unable to get that one to work with any of my data. So there must be some environmental issue affecting it.
For example no matter what I do I cannot get the exact same file i sent you to work. It always looks like:
![image](https://user-images.githubusercontent.com/43346207/54770117-3bc7c100-4bc8-11e9-97be-6a2acce4b99a.png)

If fo

[2019-03-22 06:19] docgregt commented on #116
So I did as you said and just copied a standard sld file and renamed it. For some reason that worked. Then when I looked now my wind barb style is working also. I don't know what happened. I was able to get my wind speed looking exactly like I wanted also:
![image](https://user-images.githubusercontent.com/43346207/54804073-d1e70000-4c37-11e9-82c8-98f3a4e4a148.png)

All of this is on 2.4.1. I cann

[2019-03-22 06:21] docgregt commented on #116
We can close this issue as 2.4.2 is a part of the other issue.

[2019-03-22 06:21] #116 closed

[2019-03-22 06:42] docgregt commented on #12
@guygriffiths , I really need smooth contours for drawing Isobaric charts (Pressure contours).
I do not write Java code, but I do write c# and Python. Python is quite good at this kind of rendering and it can be called from java, so I could write the code. I know it is a crazy idea, but I don't have any other way to get contours.

[2019-03-22 06:50] docgregt opened #117 "Smooth color rendering for surface pressure but not other variables?"
When I render surface pressure I get a nice smooth rendering using the following parameters:

Sea level pressure:
https://i4ncwms.i4-insight.com/wms?FORMAT=image%2Fpng&TRANSPARENT=TRUE&STYLES=default-scalar%2Fx-Sst&LAYERS=forecast%2Fssp&TIME=2019-03-03T21%3A00%3A00.000Z&COLORSCALERANGE=95320%2C105700&NUMCOLORBANDS=250&ABOVEMAXCOLOR=0x000000&BELOWMINCOLOR=0x000000&BGCOLOR=transparent&LOGSCALE=false

[2019-03-22 09:38] guygriffiths commented on #117
We always use a nearest neighbour method for translating from data to images, and never interpolate.  Looking in detail at those images, they are at the same zoom level, and the individual data points are 6x6 pixels on both images.  I'm pretty sure that the surface pressure only appears smoother because the data is smoother

[2019-03-22 09:58] guygriffiths commented on #12
I think the problem with calling python from Java is that you either need to use Jython (which does not support numpy, scipy, matplotlib, etc, because they are all C libraries with a python wrapper), or you need to call a separate interpreter (which would add a large dependency to ncWMS, and one which is platform dependent).

The main issue is that the data is extracted onto the image grid prior t

[2019-03-22 10:05] jonblower commented on #12
Yes, @guygriffiths' analysis is right. The jagged edges are representing the underlying grid: ncWMS deliberately does not do any sub-gridscale interpolation because this would result in a less faithful representation of the underlying data.

However, I can see an argument for smoothing the data purely for the purposes of creating contour plots. Maybe the jagged field could be smoothed by using a l

[2019-03-22 12:50] docgregt commented on #12
I always request whole images anyway. Maybe a whole image contouring algorithm for those willing to accept whole images.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jon Blower <notifications@github.com>
Sent: Friday, March 22, 2019 5:05:26 AM
To: Reading-eScience-Centre/edal-java
Cc: Greg Turner; Comment
Subject: Re: [Reading-eScience-Centre/edal-java] S

[2019-03-22 13:27] docgregt commented on #12
I did say calling python was a crazy idea. Cython is not totally out of the picture as this discussion shows:
https://stackoverflow.com/questions/8898765/calling-python-in-java
And yes it would be annoying but from what I know all linux systems have python3 built in or pre-installed and loading the python libs needed is a simple pip install -r requirements.txt. Actually, is much easier dependency

[2019-03-22 13:56] guygriffiths commented on #12
Adding a dependency on python is definitely not a road we want to go down.

More importantly, it simply isn't a case of writing a new plotting algorithm - our contour algorithm already plots smooth contours when it is given smooth data - it will require code to allow drawing layers to request interpolated data from the `FeatureCatalogue` (https://github.com/Reading-eScience-Centre/edal-java/blob/m

[2019-08-01 16:42] lesserwhirls opened #119 "Godiva3 "Export to PNG" link generation"
When using the Godiva3 viewer in the TDS, the "Export to PNG" link is generated with two slashes between the context and the server. For example:

https://thredds-test.unidata.ucar.edu/thredds/Godiva.html?server=https://thredds-test.unidata.ucar.edu/thredds/wms/grib/NCEP/NAM/Alaska_95km/Best

By selecting a layer and inspecting the "Export to PNG" link, e.g.:

<https://thredds-test.unidata.ucar.ed

[2019-08-28 11:27] marceloandrioni opened #120 "Style with scalar and vector field"
Hello, I am trying to create a new style based on this [example](https://reading-escience-centre.gitbooks.io/edal-user-guide/content/appendices/sld_spec/xml_usage/arrows.html) from the EDAL User Guide. Basically a scalar field (ssh) with a vector field (current direction) over.

To test the setup first I created one style for the ssh (style_ssh.xml) and one style for the current (style_uv.xml). Re

[2019-09-03 10:54] guygriffiths commented on #120
The reason the style is not appearing in the dropdown for either the `ssh` or the `u:v-dir` variables is because neither of those variables is sufficient for your style, it has to be the combination of the two.  There is a feature in the latest snapshot version of ncWMS which allows variables to be logically grouped, so that they have a parent variable which would support this style.  However, I t

[2019-09-03 11:53] marceloandrioni commented on #120
Ok, too bad is not currently possible to do that in Godiva3. I think that despite all the support to use the ncWMS in other GIS applications most people still use Godiva3 for the easily available options of selecting time and height/depth dimensions, auto-color limits, etc, considering these extra WMS features are not implemented in ArcView or QGIS (or any plugin that I know of).

Thank you.

[2019-09-13 20:33] marceloandrioni opened #121 "Problem when using UGRID aggregated in THREDDS"
Hello, following @https://github.com/Unidata/thredds/issues/526#issuecomment-287131569 by @drf5n I managed to aggregate unstructured grid results in TDS 4.6.14 as a FMRC (feature model run collection). The solution was basically to add a record dimension to aggregate everything along.
TDS shows the new aggregated dataset just fine using the OPENDAP protocol. All other protocols (NCSS, WMS, WCS) fa

[2019-10-23 20:02] javirg commented on #121
Please check your files. They are not CF-compliant:
`------------------
Checking variable: latitude
------------------
ERROR: (4.3): Invalid value for positive attribute

------------------
Checking variable: longitude
------------------
ERROR: (4.3): Invalid value for positive attribute
`

[2019-10-23 20:20] marceloandrioni commented on #121
Hi @javirg , thank you for your reply. Those error mesages came from EDAL/ncWMS log?

[2019-10-30 21:33] javirg commented on #121
No, I just checked your files using https://pumatest.nerc.ac.uk/cgi-bin/cf-checker.pl

[2019-10-30 22:11] marceloandrioni commented on #121
Hi @javirg, thanks for pointing me out to [cf-checker](https://github.com/cedadev/cf-checker). I never tried before but it seems a great tool. I will try to fix the errors listed by it to see if then the file can be read/displayed using EDAL.

Thank you.

[2020-02-10 14:19] MatsSundqvist opened #122 "Can not use NaN as fill value"
NetcdfDatasetAggregator, line 400 : not possible to use NaN since NaŃ != NaN is true.

[2020-02-11 08:35] MatsSundqvist opened #123 "SimpleCoverageJsonConverterTest fails if default timezone is not UTC"
line 60 should be
DateTime time = new DateTime(2000, 01, 01, 00, 00, DateTimeZone.UTC);

[2020-02-26 12:09] guygriffiths commented on #122
Thanks for this, fixed in https://github.com/Reading-eScience-Centre/edal-java/commit/cfd7ddada71dd94c84e20e2530ca7d8021be3845

[2020-02-26 12:09] #122 closed

[2020-02-26 12:10] guygriffiths commented on #123
Thanks, fixed in https://github.com/Reading-eScience-Centre/edal-java/commit/05044a4e73e9a41bbb730699c717b25fddf1c783

[2020-02-26 12:10] #123 closed

[2020-02-26 15:11] guygriffiths commented on #119
Sorry for the long delay in this - I don't have a great deal of time available for working on ncWMS at the moment.  I've fixed it in the `develop` branch and will try to cut a v2.4.2 release tomorrow

[2020-04-13 17:37] ethanrd opened #125 "Problem with LAYER vs LAYERS"
Requests with `LAYER` parameter returns a `ServiceException`.
The same request succeeds when changed to use `LAYERS`.

The failure occurs at [line 107 in GetMapStyleParams](https://github.com/Reading-eScience-Centre/edal-java/blob/master/wms/src/main/java/uk/ac/rdg/resc/edal/wms/GetMapStyleParams.java#L107):

    if (layerStr != null && !layersStr.trim().isEmpty()) {

looks like `layersStr.trim()`

[2020-04-14 08:28] guygriffiths commented on #125
Thanks for this.  Strangely enough I found this a couple of weeks back, after not working on ncWMS for a long time.  It's fixed in https://github.com/Reading-eScience-Centre/edal-java/commit/1f4544d4d5cf279d1167d131f4f70bc690a55ddc

[2020-04-14 08:28] #125 closed

[2020-05-12 09:02] ghansham opened #126 "Unsigned data types not being handled"
Dear Sir

We need to handle unsigned data types properly

https://github.com/Reading-eScience-Centre/edal-java/blob/5b962977ee6017cf50f6ea365bcfb273fc76295e/cdm/src/main/java/uk/ac/rdg/resc/edal/dataset/cdm/CdmGridDataSource.java#L457

[2020-05-12 10:25] guygriffiths commented on #126
Only unsigned bytes are allowed by the CF conventions, by using the `byte` data type and then specifying the `valid_min` and `valid_max` values.  I've just fixed that and pushed it to `develop`.

[2020-05-12 11:20] ghansham commented on #126
Thanks a lot.

On Tue, May 12, 2020, 15:56 Guy Griffiths <notifications@github.com> wrote:

[2020-05-12 11:21] ghansham commented on #126
Should then such datasets should be rejected at ingestion stage?

On Tue, May 12, 2020, 16:50 Ghansham Sangar <ghanshamsangar@gmail.com>
wrote:

[2020-05-12 11:36] ghansham commented on #126
You can simplify the logic. There is a data type for UBYTE. Check:

https://github.com/Unidata/netcdf-java/blob/master/cdm/core/src/main/java/ucar/ma2/DataType.java

On Tue, May 12, 2020, 16:51 Ghansham Sangar <ghanshamsangar@gmail.com>
wrote:

[2020-05-12 11:43] guygriffiths commented on #126
No, I cannot simplify the logic.  Like I said:

The unsigned byte data type is not supported by the CF conventions.  See here: http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#_data_types

[2020-05-12 13:02] ghansham commented on #126
Okay. Agree. I was trying to say putting the case for UBYTE and not for any
other unsigned data types. Its okay for me.

On Tue, May 12, 2020, 17:14 Guy Griffiths <notifications@github.com> wrote:

[2020-05-12 13:08] guygriffiths commented on #126
It's probably worth including UBYTE, USHORT, and UINT as well, but the `byte`/`valid_min`/`valid_max` behaviour should stay there (despite being a little unintuitive)

[2020-05-12 13:26] jonblower commented on #126
I guess the unsigned stuff in the Unidata Java libraries is there to support other data formats, like BUFR perhaps?

From: Guy Griffiths <notifications@github.com>
Reply to: Reading-eScience-Centre/edal-java <reply@reply.github.com>
Date: Tuesday, 12 May 2020 at 14:08
To: Reading-eScience-Centre/edal-java <edal-java@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [R

[2020-05-28 12:41] #126 closed

[2020-05-28 12:49] ghansham opened #127 "How to do contouring at an interval"
Dear Sir

If I have data with range (90, 380) and I want to contour at every 30 interval. Because we have only option to set number of contours. Due to rounding off errors, it plots at an interval of 29.
One option could be we can specify the interval as part of sld which can override the number of levels (if provided).
Second option, we can specify the list of values over which we can contour.

S

[2020-05-31 04:47] suman111sanjel opened #128 "Round off on label on using SLD for GetLegendGraphic request on ncwms2"
Hi,

I am fetching GetLegendGraphic on thredds Data server 5 which uses ncWMS2. The problem is while fetching legend it round off 2.5 to 3.0 or so on on Legend i don't want to round off on legend.
![rain](https://user-images.githubusercontent.com/35019841/83344647-6dd6c600-a329-11ea-87b2-547c7ec4b214.png)

I want to label 1.0,    1.5,   2.0,   2.5,    3.0,    3.5 and so on
link:http://110.34.30.19

[2020-06-02 09:07] guygriffiths commented on #127
Just set the COLORSCALERANGE to values whose difference divides by 30, e.g. `COLORSCALERANGE=90,390`.

[2020-06-02 09:07] #127 closed

[2020-06-02 09:23] ghansham commented on #127
Ok

On Tue, Jun 2, 2020, 14:38 Guy Griffiths <notifications@github.com> wrote:

[2020-06-02 14:44] guygriffiths commented on #128
Thanks for reporting this, it is a bug, I've just fixed it in https://github.com/Reading-eScience-Centre/edal-java/commit/c5dbe5cf4d1cc2af0fb0d2e5133dc9da20fffe7e

[2020-06-04 20:40] lesserwhirls opened #129 "Upgrading netCDF-Java"
Greetings!

I ran into an issue a bit earlier this week that required me to recompile and build new edal-java artifacts using a newer version of netCDF-Java (in this particular case, `5.4.0-SNAPSHOT`). Everything went well and didn't require any code changes within edal-java itself. I would recommend bumping to the latest release, which is 5.3.2 (note the `cdm` artifact has become `cdm-core`), and

[2020-07-03 05:25] hot007 commented on #94
Just hit this bug, has the patch been rolled into production yet and maybe we need to update something?

[2020-07-03 08:40] guygriffiths commented on #94
Yes, this fix should definitely be in the latest release, what version are you using?

[2020-07-03 12:54] frizwi commented on #94
Attaching test file here, in case email response did not work. Using ncWMS 2.4.2, get following exception:

java.lang.IndexOutOfBoundsException: Index: 999999999, Size: 368644
java.util.ArrayList.rangeCheck(ArrayList.java:653)
java.util.ArrayList.get(ArrayList.java:429)
uk.ac.rdg.resc.edal.dataset.cdm.CdmGridDatasetFactory.generateUnstructuredGridDataset(CdmGridDatasetFactory.java:1015)
uk.ac.rdg.

[2020-07-07 09:21] guygriffiths commented on #129
Sorry for the delay in getting back to you, we don't have a great deal of effort available for ncWMS work at the moment.  I've bumped the version in my development environment and it'll go into the next release.

[2020-08-19 06:08] Khamirak opened #130 "issue in reading GFS 0.25 data."
Hi,

Before I worked with ERA5 (grib and nc) and another data in NCWMS and all was well. But when I tried to enter GFS 0.25 data into NCWMS I retrieve the following error:

State: ERROR
Loading progress

Starting loading
Using dataset factory: class uk.ac.rdg.resc.edal.dataset.cdm.CdmGridDatasetFactory
Error report

Stack trace:
uk.ac.rdg.resc.edal.exceptions.EdalException: Problem creating datase

[2020-08-25 03:10] ghansham opened #131 "ArrowColourField"
I have a following SLD, The ArrowColourField does not get reflected in legendgraphics. Is it what it is intended to do?

<NamedLayer>
    <se:Name>$layerName-dir</se:Name>
    <UserStyle>
      <se:CoverageStyle>
        <se:Rule>
          <resc:ColoredSizedArrowSymbolizer>
            <se:Opacity>100</se:Opacity>
            <resc:ArrowSizeField>$layerName-mag</resc:ArrowSizeField>
            <

[2020-08-25 08:41] guygriffiths commented on #130
The problem is that one of your coordinate axes is non-monotonic.  I haven't checked your data, but the usual cause of this is a wrapping longitude axis, e.g. `190, 200, 210,...340, 350, 0, 10, 20, ..., 170, 180`.  Most likely this is being taken care of when you convert to NetCDF.

[2020-08-25 08:48] guygriffiths commented on #131
I would need to see the SLD and the request you're using to generate the legend graphics to be able to help out here.

[2020-08-25 12:46] ghansham commented on #131
Dear Sir

I have attached the barb.txt.
Rename it barb.xml

And the legend graphics request is as follows:

http://10.61.141.62:8090/ncWMS2/wms?&WIDTH=400&HEIGHT=400&request=GetLegendGraphic&SLD_BODY=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3CStyledLayerDescriptor%20version%3D%221.1.0%22%20xsi%3AschemaLocation%3D%22http%3A%2F%2Fwww.opengis.net%2Fsld%20StyledLayerDescriptor

[2020-08-25 15:25] guygriffiths commented on #131
Ok, this was a bug in the code.  It was not detecting the multiple fields required for generating an appropriate legend.  I've fixed this in the `develop` branch, so it should work if you check out that branch and use it.

[2020-08-25 15:49] ghansham commented on #131
For sure. I will check it out.
Thanks a lot for your help.

On Tue, Aug 25, 2020, 20:55 Guy Griffiths <notifications@github.com> wrote:

[2020-08-25 16:13] Khamirak commented on #130
Thanks for your answer. Moreover I have another question. How can I define wind vector variable using U and V component data in ncWMS?
I’ve visited the following issue, but I cannot understand how?

https://github.com/Reading-eScience-Centre/ncwms/issues/40

Could you give me an example to clarifying?

[2020-08-26 07:07] ghansham commented on #131
I have checked it. It is working fine for my datasets.
When is the next release expected?

On Tue, Aug 25, 2020 at 9:19 PM Ghansham Sangar <ghanshamsangar@gmail.com>
wrote:

[2020-08-26 08:50] guygriffiths commented on #130
You just need to specify `standard_name` attributes on both of the component variables.  The values should have the form given in that link.  For example `eastward_windspeed` and `northward_windspeed`.

[2020-08-27 06:34] Khamirak commented on #130
Thanks, But which file have to change? Is your mean **config.xml** in the **$HOME/.ncwms2/** directory?
Could you share more information for this purpose?

[2020-08-27 08:46] guygriffiths commented on #130
You need to change your data file, so that the appropriate variables have the correct `standard_name` attributes.

[2020-08-27 09:33] Khamirak commented on #130
Thanks, I have another question:
For some reason I download ncwms version1 from the following link:
https://sourceforge.net/projects/ncwms/files/ncwms/1.2/ncWMS-1.2.war/download

I install it step by step like version 2. But in when I want to go in the **http://localhost:8080/ncWMS2/admin/** then tomcat username and password didn't work for version 1. it should be noted that version 2 was installe

[2020-08-27 10:54] guygriffiths commented on #130
The problem is that ncWMS v1.2 didn't use the same authentication method as ncWMS2.  I _think_ it used a general Tomcat `admin` role, rather than the specific `ncWMS-admin` role. But either way, don't use v1.2, it's very out of date and we don't support it any more.

[2020-08-27 14:10] Khamirak commented on #130
Dear Blower,
I changed u10 and v10 variables standard_name attributes in  eastward_u10 and northward_u10 as attached. But this method didn't work well and when data entered into ncWMS2 I just receive two variable eastward_u10 and northward_u10.(I don't have mag and dir variable to plot wind barb and wind vector)
Could you solve my problem?

[new6.zip](https://github.com/Reading-eScience-Centre/eda

[2020-08-27 14:47] guygriffiths commented on #130
You have not added a `standard_name` attribute to your variables, you have changed the variable name itself.  Additionally, you have named your variables `northward_u10` and `northward_v10`, when you need to have both a northward and an eastward component to generate a vector.

As per the link, you need to add **_an attribute_** named `standard_name`, whose value is either `eastward_wind`, or `nor

[2020-09-06 16:17] marceloandrioni opened #132 "Problems with repeated standard_names in file"
Hello,

I was trying to use ncWMS2 to visualize current data from [CMEMS](https://resources.marine.copernicus.eu/?option=com_csw&view=details&product_id=GLOBAL_ANALYSIS_FORECAST_PHY_001_024) but there were some problems with the automatically created layers `-group`, `-mag` and `-dir`.

The dataset that gave me problems is the `global-analysis-forecast-phy-001-024-hourly-merged-uv`. This dataset h

[2020-09-07 10:28] jonblower commented on #132
Hi - thanks very much for this report and your detailed description, which is very helpful indeed. I think your analysis is correct. The solution you propose sounds reasonable, but I'll leave @guygriffiths to comment on how easy this may be to implement.

On a side note, I think you're right that the CF conventions technically permit duplicated standard names, although personally I think these sho

[2020-09-07 15:50] marceloandrioni commented on #132
Hello @jonblower, thank you for the prompt reply. Answering your question:

Yes, I forgot to include the long_names in my question, but all the variables in the file have different long_names. I think the "string similarity" check could be applied to the variables names (e.g.: `uo`) and/or the variables long_names (e.g.: `"Eastward Eulerian velocity (Navier-Stokes current)"`) to try and match the

[2020-09-12 04:32] Khamirak commented on #130
Hi Dear Guy,
I want to use **Dynamic Services** in ncWMS. I use the following configure and enter it into the ncWMS dataset

![question](https://user-images.githubusercontent.com/38399430/92987279-508fc700-f4d6-11ea-964f-5336c0b9c5ab.png)

But as you mentioned in the tutorial when I enter the following url I receive error:
[(http://192.168.229.94:8080/ncWMS2/wms?FORMAT=image%2Fpng&TRANSPARENT=TRUE

[2020-09-17 15:05] guygriffiths commented on #130
The problem is that the alias (GFS) is what refers to the location (`/home/mostaga/Downloads/gfs`), so when you request the layer `GFS/home/mostafa/Downloads/gfs/GFS1/HGT` it will look for a file named `/home/mostafa/Downloads/gfs/home/mostafa/Downloads/gfs/GFS1` containing a variable named `HGT`.

You want something more like `GFS/GFS1.nc/HGT`, assuming the file is `/home/mostafa/Downloads/gfs/GF

[2020-09-18 10:59] guygriffiths commented on #132
@marceloandrioni Thanks for reporting this.  I've fixed it in commit https://github.com/Reading-eScience-Centre/edal-java/commit/1c76ba79d648883ea04c12665a1cceb46c6aa355.  It's not released yet, so you'll need to build it from the `develop` branch to use it.  I can probably do a 1.5 release next week if you're unable to build from `develop`.  I used string similarity on the variable names, and tes

[2020-09-18 11:45] guygriffiths commented on #94
Apologies for the long delay in getting around to this.  Not sure what happened the fix around line 990, but it wasn't in the `develop` branch.  It is now, and will be in the next release.

[2020-09-18 13:50] marceloandrioni commented on #132
Hi @guygriffiths, thank you very much for this fix. I am glad the option of using string similarity worked. I am not really sure how to build from the `develop` branch so I think I will wait for the war file of the v1.5 next week.
Thank you.

[2020-09-19 10:38] Khamirak commented on #130
Thanks, i've solved that.
I have another question.
I add eastward_windspeed and northward_windspeed for 10m u and v wind components. It worked finely.
Then I add these standard_name for 100m u and v wind components. But finely I had only just one wind speed and direction related to 10m u ann v components.
How can I have at least two wind speed and direction in my netcdf file using standard_name ad

[2020-09-22 08:39] guygriffiths commented on #130
I actually happened to fix this bug last week, and will be making a release which contains the fix at some point this week.  However, an immediate fix is to make sure that the standard names are different for each field (e.g. `eastward_windspeed_10m` and `eastward_windspeed_100m`)

[2020-09-22 13:36] Khamirak commented on #130
Hi,
Dear Guy,
1.Downloadable option in Dynamic Services don't work. I tried multiple time but when I checked downloadable checkbox and click on the save config button then, downloadable checkbox has been unchecked. What's the problem?

2. How can I change getfeatureinfo text/plain or text/html fields? for instance I wanna just shown value in popup after click

thanks

[2020-09-22 13:41] guygriffiths commented on #130
1. This is fixed, I will be releasing it soon.
2. You cannot.  Use `text/xml`, then parse it and extract just the value(s) you want.

[2020-09-22 14:13] Khamirak commented on #130
I have another question,
I insert my time as
when I use getfeatureinfo and input time in the tilelayer.wms.extend() as **"TIME: this.wmsParams.time."** then I receive the following error:
The string undefined does not represent an ISO8601 datetime Cause: Invalid format: "undefined"
Because time is undefined in gefeatureinfo request:
http://192.168.229.94:8080/ncWMS2/wms?REQUEST=GetFeatureInfo&SERV

[2020-09-22 15:01] guygriffiths commented on #130
The problem is that `TIME=undefined` in the GetFeatureInfo request.  I don't know what you're using to insert value, but whatever it is, its value is undefined.

[2020-09-23 14:25] guygriffiths commented on #129
We're now using 5.3.3 in https://github.com/Reading-eScience-Centre/ncwms/releases/tag/ncwms-2.5.0

[2020-09-23 14:25] #129 closed

[2020-09-23 14:26] guygriffiths commented on #130
Downloadable issue fixed in https://github.com/Reading-eScience-Centre/ncwms/releases/tag/ncwms-2.5.0

[2020-09-23 14:26] #130 closed

[2020-09-23 14:26] guygriffiths commented on #131
Fix released https://github.com/Reading-eScience-Centre/ncwms/releases/tag/ncwms-2.5.0

[2020-09-23 14:26] guygriffiths commented on #132
Fix released https://github.com/Reading-eScience-Centre/ncwms/releases/tag/ncwms-2.5.0

[2020-09-23 14:26] #132 closed

[2020-09-23 14:26] #131 closed

[2020-09-23 14:42] marceloandrioni commented on #132
Hello @guygriffiths, I was trying to deploy the new version (ncWMS v2.5) but even after removing the $HOME/.ncWMS2 to get rid of cache the applet fails to start with tomcat message:
`FAIL - Application at context path [/ncWMS2] could not be started`

I am using `jdk1.8.0_261` and `apache-tomcat-8.5.57` in linux x64. In the release notes it says that is JDK11 compatible, but it is mandatory from no

[2020-09-23 14:48] guygriffiths commented on #132
Ah yes, apologies, I should have made that clear.  Supporting both Java 8 and Java 11 (which are the only two long-term support releases at the moment) turned out to be much more of a headache than I'd first anticipated, so I went with Java 11 for this release.

[2020-09-23 14:51] marceloandrioni commented on #132
Got it, I will try with SDK 11 then. Thank you.

[2020-09-23 15:48] marceloandrioni commented on #132
Just to leave here the information that using `ncWMS2 v2.5` running on Oracle `jdk-11.0.8` and `apache-tomcat-9.0.38` everything worked perfectly. The several groups of `u`:`v` components were correctly recognized. Thank you @guygriffiths.

![Screenshot_2020-09-23_12-43-16](https://user-images.githubusercontent.com/13545615/94036548-cd565700-fd9a-11ea-9bfc-b71f9151fe1f.png)

[2020-10-05 19:30] Khamirak commented on #130
Dear Guy,
I used ncWMS without getfeatureinfo() option and all was well. But when I used this option for popup then I received the following error for some tile map:

What's the reason of this issue do you think?
My JavaScript and html code has been attached.

Cheers

[config.zip](https://github.com/Reading-eScience-Centre/edal-java/files/5329664/config.zip)

[2020-10-06 08:44] guygriffiths commented on #130
What did the request return?

[2020-10-06 09:30] Khamirak commented on #130
When I zoom in and zoom out and simultaneously I used getfeatureinfo() option, some tiles couldn't load completely.
Look at the following image:
The first image is without zoom in or zoom out that there is no problem in the console:
![complete](https://user-images.githubusercontent.com/38399430/95184094-216e2c00-07dc-11eb-8c70-6ca30ccb6dbe.png)

The second when I zoomed in some place. Some tiles c

[2020-10-06 09:37] guygriffiths commented on #130
What are those erroring requests returning?  Is it just an empty page, or is there a (partial) stacktrace?  And what errors are appearing in your Tomcat logs?

[2020-10-06 09:56] Khamirak commented on #130
In some case just an empty page returned and in some case return tiles with delay.
The important point is that when I use getfeatureinfo() option these problems released.
Today tomcat log is attached.

[localhost_access_log.2020-10-06.txt](https://github.com/Reading-eScience-Centre/edal-java/files/5332903/localhost_access_log.2020-10-06.txt)

[2020-10-06 10:01] guygriffiths commented on #130
I was confused as to why tiles would be returned, but it looks like those requests are all GetMap requests.  I thought your problem was with GetFeatureInfo requests?

Also, I don't want your entire Tomcat logs.  When you make a request which has errors, post what happens in the Tomcat logs at the moment of that request.